<h2>Show fund queue</h2>

<p>
  <b>Fund source:</b> <%= @fund_queue.fund_source %>
</p>

<p>
  <b>Submit at:</b> <%= @fund_queue.submit_at %>
</p>

<p>
  <b>Release message:</b>
</p>

<%=markdown @fund_queue.release_message %>

<p>
  <b>Allocate message:</b>
</p>

<%=markdown @fund_queue.allocate_message %>

<h3>Statistics</h3>

<p>
  <b>Total requests (count):</b> <%= @fund_queue.fund_requests.count %>
</p>

<p>
  <b>Total requests (amount):</b> <%=number_to_currency @fund_queue.fund_editions.
    where { perspective == 'requestor' }.sum(:amount) %>
</p>

<p>
  <b>Total reviewer amount (before caps and cuts):</b> <%=number_to_currency @fund_queue.fund_editions.
    where { perspective == 'reviewer' }.sum(:amount) %>
</p>

<p>
  <b>Total pending allocations:</b> <%=number_to_currency(
    @fund_queue.fund_allocations.pending.sum(:amount) ) %>
</p>

<p>
  <b>Total final allocations:</b> <%=number_to_currency(
    @fund_queue.fund_allocations.final.sum(:amount) ) %>
</p>

<h3>Reports</h3>

<p>
Request quantity and amount report:
</p>

<%=render :partial => 'fund_queues/fund_requests_quantity_and_amount_report',
  :locals => { :fund_queue => @fund_queue } %>

<ul>
  <li><%=link_to 'Reviews report',
    reviews_report_fund_queue_fund_requests_path( @fund_queue, :format => :csv )
  %></li>
</ul>

<p>
<%=link_to 'Fund requests', fund_queue_fund_requests_path( @fund_queue ) %>
</p>

