  <%= table_row_tag do %>
    <% if user then %>
    <td><%= approval.user.name %></td>
    <td><%= approval.user.net_id %></td>
    <% end %>
    <% if approvable then %>
    <td><%= approval.approvable %></td>
    <% end %>
    <td><%= approval.created_at.to_s :us_ordinal %></td>
    <td><%= link_to( 'Create', new_approvable_approval_path( approval.approvable ) ) if approval.new_record? && permitted_to?( :create, approval )%></td>
    <td><%= link_to( 'Destroy', approval, data: { confirm: 'Are you sure?' }, method: :delete ) if permitted_to? :destroy, approval %></td>
  <% end %>

