<h1>Listing approvals</h1>

<table>
  <tr>
    <th>User</th>
    <th>Approvable</th>
    <th>Approvable type</th>
  </tr>

<% @approvals.each do |approval| %>
  <tr>
    <td><%=h approval.user_id %></td>
    <td><%=h approval.approvable_id %></td>
    <td><%=h approval.approvable_type %></td>
    <td><%= link_to 'Show', approval %></td>
    <td><%= link_to 'Edit', edit_approval_path(approval) %></td>
    <td><%= link_to 'Destroy', approval, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New approval', new_approval_path %>