<h2>Approve <%=h @approval.approvable %></h2>

  <p>
  Please review the document below and <strong>click "Confirm Approval" at the bottom</strong> if you approve.  Once your approval is registered, you should receive an email confirmation.
  </p>

<%= semantic_form_for( @approval, :url => polymorphic_path( [ @approval.approvable, :approvals ] ) ) do |f| %>
  <%= render "shared/error_messages", :target => f.object %>

  <%= render 'shared/error_messages', target: f.object.approvable %>

  <%= render :partial => "#{@approval.approvable_type.underscore.pluralize}/detail",
    :object => @approval.approvable %>

  <%= f.inputs do %>
    <%= f.input :as_of, :as => :hidden %>
  <% end %>
  <%= f.actions do %>
    <%= f.action :submit, :label => 'Confirm Approval' %>
  <% end %>
<% end %>

<p>
<%= link_to 'Back', @approval.approvable %>
</p>

