<h1>Approve <%=h @approval.approvable %></h1>

<% semantic_form_for( :approval, @approval, :url => polymorphic_path( [ @approval.approvable, :approvals ] ) ) do |f| %>
  <%= f.error_messages %>

  <p>
  Please review the document below and click "Confirm Approval" at the bottom if you approve.
  </p>

  <%= render_approvable @approval.approvable %>

  <% f.inputs do %>
    <%= f.input :as_of, :as => :hidden %>
  <% end %>
  <% f.buttons do %>
    <%= f.commit_button :label => 'Confirm Approval' %>
  <% end %>
<% end %>

<p>
<%= link_to 'Back', @approval.approvable %>
</p>

