<p>
  <b>User:</b> <%=h @approval.user %>
</p>

<p>
  <b>Approvable:</b> <%=h @approval.approvable %>
</p>

<p>
  <b>Created at:</b> <%=h @approval.created_at %>
</p>

<p>
<% if permitted_to? :show, @approval.user -%>
<%= link_to "Back to #{@approval.user} approvals", user_approvals_path( @approval.user ) %> |
<% end -%>
<%= link_to "Back to #{@approval.approvable} approvals", polymorphic_path( [ @approval.approvable, :approvals ] ) %>
</p>

