<p>
  <b>User:</b>
  <%=h @approval.user_id %>
</p>

<p>
  <b>Approvable:</b>
  <%=h @approval.approvable_id %>
</p>

<p>
  <b>Approvable type:</b>
  <%=h @approval.approvable_type %>
</p>


<%= link_to 'Edit', edit_approval_path(@approval) %> |
<%= link_to 'Back', approvals_path %>