  <%= form.error_messages %>

  <p>
    <%= form.label :request_structure_id %><br />
    <%= form.collection_select :request_structure_id,
                               RequestStructure.find(:all),
                               :id,
                               :name %>
  </p>
  <p>
    <%= form.label :open_at %><br />
    <%= form.datetime_select :open_at %>
  </p>
  <p>
    <%= form.label :closed_at %><br />
    <%= form.datetime_select :closed_at %>
  </p>

