<h1>Listing request_bases</h1>

<table>
  <tr>
    <th>Request structure</th>
    <th>Open at</th>
    <th>Closed at</th>
  </tr>

<% @request_bases.each do |request_basis| %>
  <tr>
    <td><%=h request_basis.request_structure_id %></td>
    <td><%=h request_basis.open_at %></td>
    <td><%=h request_basis.closed_at %></td>
    <td><%= link_to 'Show', request_basis %></td>
    <td><%= link_to 'Edit', edit_request_basis_path(request_basis) %></td>
    <td><%= link_to 'Destroy', request_basis, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New request_basis', new_request_basis_path %>