<p>
  <b>Request structure:</b>
  <%=h @request_basis.request_structure_id %>
</p>

<p>
  <b>Open at:</b>
  <%=h @request_basis.open_at %>
</p>

<p>
  <b>Closed at:</b>
  <%=h @request_basis.closed_at %>
</p>


<%= link_to 'Edit', edit_request_basis_path(@request_basis) %> |
<%= link_to 'Back', request_bases_path %>