<% organization ||= false %>
<% user ||= false %>
<% if permitted_to? :show, membership -%>
  <%= table_row_tag do %>
    <% unless organization -%>
    <td><%= membership.organization %></td>
    <% end -%>
    <% unless user -%>
    <td><%= membership.user.name %></td>
    <td><%= membership.user.net_id %></td>
    <% end -%>
    <td><%= membership.registration_id? ? 'Yes' : 'No' %></td>
    <td><%= membership.role %></td>
    <td><%= link_to 'Show', membership %></td>
    <td><%= link_to( 'Edit', edit_membership_path(membership) ) if permitted_to?( :edit, membership ) %></td>
    <td><%= link_to( 'Destroy', membership, data: { confirm: 'Are you sure?' },
      method: :delete ) if permitted_to?( :destroy, membership ) %></td>
  <% end %>
<% end -%>

