<h2>Editing membership</h2>

<%= semantic_form_for(@membership) do |f| %>
  <%= render :partial => 'form', :object => f %>
<% end %>

<p>
<%= link_to 'Show', @membership %> |
<%= link_to "Back to #{@membership.user} memberships", user_memberships_path( @membership.user ) %>
<% if @membership.organization -%>
 | <%= link_to "Back to #{@membership.organization} memberships", organization_memberships_path( @membership.organization ) %>
<% end -%>
</p>

