<h2>Listing memberships</h2>

<table>
  <tr>
    <th>Group</th>
    <th>Person</th>
    <th>Registration</th>
    <th>Role</th>
  </tr>

<% @memberships.each do |membership| %>
  <% table_row_tag do %>
    <td><%=h membership.group_id %></td>
    <td><%=h membership.person_id %></td>
    <td><%=h membership.registration_id %></td>
    <td><%=h membership.role_id %></td>
    <td><%= link_to 'Show', membership %></td>
    <td><%= link_to( 'Edit', edit_membership_path(membership) ) if permitted_to?( :edit, membership ) %></td>
    <td><%= link_to( 'Destroy', membership, :confirm => 'Are you sure?', :method => :delete ) if permitted_to?( :destroy, membership ) %></td>
  <% end %>
<% end %>
</table>

<br />

<p>
<% if permitted_to? :create, @context.memberships.build %>
  <%= link_to "New membership for #{@context}", new_polymorphic_path( [ @context, :membership ] ) %>
<% end %>
</p>

