 <p>
    <%= form.label :name %><br />
    <%= form.text_field :name %>
 </p>
 <p>
    <%= form.label :minimum_requestors %><br />
    <%= form.text_field :minimum_requestors %>
 </p>
 <p>
    <%= form.label :maximum_requestors %><br />
    <%= form.text_field :maximum_requestors %>
 </p>

