  <%= form.input :date, :as => :date_picker,
    :hint => 'On what date does the event occur?  If the event spans multiple dates, specify the start date.' %>
  <%= form.input :title, :hint => 'What is the title of the event?' %>
  <%= form.input :location, :hint => 'Where will the event be held?' %>
  <%= form.input :purpose, :hint => 'What is the purpose of the event?' %>
  <%= form.input :number_of_attendees, :label => 'Anticipated number of attendees' %>
  <%= form.input :price_per_attendee, :label => 'Admission charge per attendee' %>
  <%= form.input :copies_quantity, :label => "Number of publicity copies" %>
  <%= form.input :services_cost, :label => 'Rental equipment, services, and intellectual property use fees',
    :hint => 'You must provide price quotes for each of the services that figures into this total.' %>
  <li>
  <p>
  A Use of University Property Form must be filed for certain large or higher risk events.
  The form enables event planners to connect with university officials in order
  to make their event planning experience efficient and painless.  You will be required
  to submit such a form if any of the following describe your event:
  <ul>
    <li>food and/or alcohol will be served</li>
    <li>held outdoors</li>
    <li>money will be collected for sales or fundraising purposes</li>
    <li>held in a venue with a capacity of 200 or more people</li>
    <li>may be seen as controversial or high risk</li>
  </ul>
  </p>
  </li>
  <%= form.input :uup_required, :label => 'UUP?', :hint => 'Will a Use of University Property Form be filed for this event?', :as => :radio %>

