  <p>
    <%= form.label :date %><br />
    <%= form.calendar_date_select :date, :time => false %>
  </p>

  <p>
    <%= form.label :title %><br />
    <%= form.text_field :title %>
  </p>

  <p>
    <%= form.label :location %><br />
    <%= form.text_field :location %>
  </p>

  <p>
    <%= form.label :purpose %><br />
    <%= form.text_area :purpose, :size => "40x6" %>
  </p>

  <p>
    <%= form.label :number_of_attendees, "Anticipated Number of Attendees" %><br />
    <%= form.text_field :number_of_attendees %>
  </p>

  <p>
    <%= form.label :price_per_attendee, "Admission Charge Per Attendee" %><br />
    <%= form.text_field :price_per_attendee %>
  </p>

  <p>
    <%= form.label :copies_quantity, "Number of Publicity Copies" %><br />
    <%= form.text_field :copies_quantity %>
  </p>

  <p>
    <%= form.label :services_cost, "Rental Equipment, Services, and Intellectual Property Use Fees" %><br />
    <%= form.text_field :services_cost %>
  </p>

