  <p>
    <%= form.label :date %><br />
    <%= form.calendar_date_select :date, :time => false %>
  </p>

  <p>
    <%= form.label :title %><br />
    <%= form.text_field :title %>
  </p>

  <p>
    <%= form.label :location %><br />
    <%= form.text_field :location %>
  </p>

  <p>
    <%= form.label :purpose %><br />
    <%= form.text_area :purpose, :size => "40x6" %>
  </p>

  <p>
    <%= form.label :number_of_attendees, "Anticipated Number of Attendees" %><br />
    <%= form.text_field :number_of_attendees %>
  </p>

  <p>
    <%= form.label :price_per_attendee, "Admission Charge Per Attendee" %><br />
    <%= form.text_field :price_per_attendee %>
  </p>

  <p>
    <%= form.label :copies_quantity, "Number of Publicity Copies" %><br />
    <%= form.text_field :copies_quantity %>
  </p>

  <p>
    <%= form.label :services_cost, "Rental Equipment, Services, and Intellectual Property Use Fees" %><br />
    <%= form.text_field :services_cost %>
  </p>

  <p>
  A Use of University Property Form must be filed for certain large or higher risk events.
  The form enables event planners to connect with university officials in order
  to make their event planning experience efficient and painless.  You will be required
  to submit such a form if any of the following describe your event:
  <ul>
    <li>food and/or alcohol will be served</li>
    <li>held outdoors</li>
    <li>money will be collected for sales or fundraising purposes</li>
    <li>held in a venue with a capacity of 200 or more people</li>
    <li>may be seen as controversial or high risk</li>
  </ul>
  </p>

  <p>
    <%= form.label :uup_required, 'Check if a Use of University Property Form will be filed for this event' %>
    <%= form.check_box :uup_required %>
  </p>

