  <%= form.input :date, :as => :date_picker,
    :hint => 'On what date does the event occur?  If the event spans multiple dates, specify the start date.' %>
  <%= form.input :title, :hint => 'What is the title of the event?' %>
  <%= form.input :location, :hint => 'Where will the event be held?' %>
  <%= form.input :purpose, :hint => 'What is the purpose of the event?' %>
  <%= form.input :number_of_attendees, :label => 'Anticipated number of attendees' %>
  <%= form.input :price_per_attendee, :label => 'Admission charge per attendee' %>
  <%= form.input :copies_quantity, :label => "Number of publicity copies" %>
  <%= form.input :services_cost, :label => 'Rental equipment, services, and intellectual property use fees',
    :hint => 'You must provide price quotes for each of the services that figures into this total.' %>
  <li>
  <p>
  A Use of University Property Form must be filed for certain large or higher risk events.
  The form enables event planners to connect with university officials in order
  to make their event planning experience efficient and painless.  You will be required
  to submit such a form if any of the following describe your event:
  <ul>
    <li>food and/or alcohol will be served</li>
    <li>held outdoors</li>
    <li>money will be collected for sales or fundraising purposes</li>
    <li>held in a venue with a capacity of 200 or more people</li>
    <li>may be seen as controversial or high risk</li>
  </ul>
  </p>
  </li>
  <%= form.input :uup_required, :label => 'UUP?',
    :hint => 'Will a Use of University Property Form be filed for this event?',
    :as => :radio %>
  <li>
  <p>
  Accessible local events provide students, faculty, and staff with disabilities
  the necessary resources to participate in your organization’s programming.
  You should consider the following planning in planning your event:
  <ul>
    <li>
      contact the <a href="mailto:accessibility@cornell.edu">Cornell Office
      of Student Disability Services</a> with a brief description of the event and
      its location in order to ensure accessibility
    </li>
    <li>
      note whether the event is accessible to students with disabilities on
      publicity materials
    </li>
    <li>
      utilize multiple forms of advertising to reach a wide range of people,
      including the hearing and visually impaired
    </li>
    <li>
      ensure that at least one of the primary entrances to the building and a
      path to that entrance are accessible (i.e., paved sidewalk, ramp or left)
    </li>
    <li>
      ensure that there are accessible restrooms in close proximity to the event
    </li>
  </ul>
  </p>
  </li>
  <%= form.input :accessibility_considered, :label => 'Accessbility considered?',
    :hint => 'Will you undertake any of the above steps to assure your event is accessible?',
    :as => :radio %>

