  <tr>
    <td><%=h local_event.date %></td>
    <td><%=h local_event.title %></td>
    <td><%=h local_event.location %></td>
    <td><%= local_event.uup_required? ? 'Yes' : 'No' %></td>
    <td><%=h local_event.purpose %></td>
    <td><%= link_to_external_registration( local_event.fund_requestor ) %></td>
    <td><%= local_event.fund_requestor.users.uniq.map { |u| link_to_directory(u) }.join(", ") %></td>
  </tr>

