  <p>
    Date: <%= local_event_expense.date %>
  </p>

  <p>
    Title: <%= local_event_expense.title %>
  </p>

  <p>
    Location: <%= local_event_expense.location %>
  </p>

  <p>
    Purpose: <%= local_event_expense.purpose %>
  </p>

  <p>
    Anticipated Number of Attendees: <%= local_event_expense.number_of_attendees %>
  </p>

  <p>
    Admission Charge Per Attendee: <%= number_to_currency(local_event_expense.price_per_attendee) %>
  </p>

  <p>
    Number of Publicity Copies: <%= local_event_expense.copies_quantity %>
  </p>

  <p>
    Rental Equipment, Services, and Intellectual Property Use Fees: <%= number_to_currency(local_event_expense.services_cost) %>
  </p>

  <p>
    Use of University Property Form required: <%= local_event_expense.uup_required ? 'Yes' : 'No' %>
  </p>

