  <p>
    Date of Event: <%= local_event_expense.date_of_event %>
  </p>

  <p>
    Title of Event: <%= local_event_expense.title_of_event %>
  </p>

  <p>
    Location of Event: <%= local_event_expense.location_of_event %>
  </p>

  <p>
    Purpose of Event: <%= local_event_expense.purpose_of_event %>
  </p>

  <p>
    Anticipated Number of Attendees: <%= local_event_expense.anticipated_no_of_attendees %>
  </p>

  <p>
    Admission Charge Per Attendee: <%= number_to_currency(local_event_expense.admission_charge_per_attendee) %>
  </p>

  <p>
    Number of Publicity Copies: <%= local_event_expense.number_of_publicity_copies %>
  </p>

  <p>
    Rental Equipment and Services: <%= number_to_currency(local_event_expense.rental_equipment_services) %>
  </p>

  <p>
    Copyright Fees: <%= number_to_currency(local_event_expense.copyright_fees) %>
  </p>

