<h1>Listing local_event_expenses</h1>

<table>
  <tr>
    <th>Date of event</th>
    <th>Title of event</th>
    <th>Location of event</th>
    <th>Purpose of event</th>
    <th>Anticipated no of attendees</th>
    <th>Admission charge per attendee</th>
    <th>Number of publicity copies</th>
    <th>Rental equipment services</th>
    <th>Total copy rate</th>
    <th>Copyright fees</th>
    <th>Total eligible expenses</th>
    <th>Admission charge revenue</th>
    <th>Total request amount</th>
  </tr>

<% @local_event_expenses.each do |local_event_expense| %>
  <tr>
    <td><%=h local_event_expense.date_of_event %></td>
    <td><%=h local_event_expense.title_of_event %></td>
    <td><%=h local_event_expense.location_of_event %></td>
    <td><%=h local_event_expense.purpose_of_event %></td>
    <td><%=h local_event_expense.anticipated_no_of_attendees %></td>
    <td><%=h local_event_expense.admission_charge_per_attendee %></td>
    <td><%=h local_event_expense.number_of_publicity_copies %></td>
    <td><%=h local_event_expense.rental_equipment_services %></td>
    <td><%=h local_event_expense.total_copy_rate %></td>
    <td><%=h local_event_expense.copyright_fees %></td>
    <td><%=h local_event_expense.total_eligible_Expenses %></td>
    <td><%=h local_event_expense.admission_charge_revenue %></td>
    <td><%=h local_event_expense.total_request_amount %></td>
    <td><%= link_to 'Show', local_event_expense %></td>
    <td><%= link_to 'Edit', edit_local_event_expense_path(local_event_expense) %></td>
    <td><%= link_to 'Destroy', local_event_expense, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New local_event_expense', new_local_event_expense_path %>

