<!-->

<p>
  <b>Data of event:</b>
  <%=h @local_event_expense.date_of_event %>
</p>

<p>
  <b>Title of event:</b>
  <%=h @local_event_expense.title_of_event %>
</p>

<p>
  <b>Location of event:</b>
  <%=h @local_event_expense.location_of_event %>
</p>

<p>
  <b>Purpose of event:</b>
  <%=h @local_event_expense.purpose_of_event %>
</p>

<p>
  <b>Anticipated no of attendees:</b>
  <%=h @local_event_expense.anticipated_no_of_attendees %>
</p>

<p>
  <b>Admission charge per attendee:</b>
  <%=h @local_event_expense.admission_charge_per_attendee %>
</p>

<p>
  <b>Number of publicity copies:</b>
  <%=h @local_event_expense.number_of_publicity_copies %>
</p>

<p>
  <b>Rental equipment services:</b>
  <%=h @local_event_expense.rental_equipment_services %>
</p>


<p>
  <b>Copyright fees:</b>
  <%=h @local_event_expense.copyright_fees %>
</p>
-->

<p>
  <b>Total copy rate:</b> <%=h number_to_currency(@local_event_expense.total_copy_rate) %>
</p>

<p>
  <b>Total eligible expenses:</b> <%=h number_to_currency(@local_event_expense.total_eligible_Expenses) %>
</p>

<p>
  <b>Admission charge revenue:</b> <%=h number_to_currency(@local_event_expense.admission_charge_revenue) %>
</p>

<p>
  <b>Total request amount:</b> <%=h number_to_currency(@local_event_expense.total_request_amount) %>
</p>


<%= link_to 'Edit', edit_local_event_expense_path(@local_event_expense) %> |
<%= link_to 'Back', local_event_expenses_path %>

