<h2>Listing activity reports</h2>

<%= form_tag polymorphic_path( [ @context, :activity_reports ] ), :method => :get do |f| %>
  <% unless @organization -%>
  <p>
    <%= label_tag 'search[organization_name_contains]', 'Organization' %>
    <%= search_field_tag 'search[organization_name_contains]', @search['fund_source_name_contains'] %>
  </p>
  <% end -%>
  <p>
    <%= label_tag 'search[description_contains]', 'Description' %>
    <%= search_field_tag 'search[description_contains]', @search['description_contains'] %>
  </p>
  <p>
    <%= submit_tag 'Search' %>
  </p>
<% end %>

<%= paginate @activity_reports %>

<hr/>

<%= render :partial => "activity_reports/activity_reports",
  :object => @activity_reports, :locals => { :organization => @organization } %>

<hr/>

<%= paginate @activity_reports %>

<hr/>

<p>
<% if @organization -%>
<%= link_to h("Back to #{@organization}"), @organization %> |
<% if permitted_to? :create, @organization.activity_reports.build %>
<%= link_to h("New activity report for #{@organization}"),
  new_organization_activity_report_path( @organization ) %>
<% end %>
<% end -%>
</p>

