  <p>
    <%= form.label :speaker_name, "Name of Speaker, Performer, or Group" %><br />
    <%= form.text_field :speaker_name %>
  </p>
  <p>
    <%= form.label :performance_date, 'Date of performance' %><br />
    <%= form.calendar_date_select :performance_date, :time => false %>
  </p>
  <p>
    <%= form.label :mileage, 'Travel mileage' %><br />
    <%= form.text_field :mileage %>
  </p>
  <p>
    <%= form.label :number_of_speakers, 'Number of speakers or performers traveling' %><br />
    <%= form.text_field :number_of_speakers %>
  </p>
  <p>
    <%= form.label :nights_of_lodging, 'Nights of lodging required' %><br />
    <%= form.text_field :nights_of_lodging %>
  </p>
  <p>
    <%= form.label :engagement_fee, 'Engagement fee for speakers or performers' %><br />
    <%= form.text_field :engagement_fee %>
  </p>
  <p>
    <%= form.label :car_rental, 'Car rental (no more than one per four travelers)' %><br />
    <%= form.text_field :car_rental %>
  </p>

