  <%= form.input :title, :label => 'Name of speaker, performer, or group' %>
  <%= form.input :distance, :label => 'Travel distance' %>
  <%= form.input :number_of_travelers, :label => 'Number of travelers' %>
  <%= form.input :nights_of_lodging, :label => 'Nights of lodging' %>
  <%= form.input :engagement_fee %>
  <li>
  <p>
  Regarding the speaker or performer, do any of the following statements apply?
  The speaker or performer:
  </p>

  <ul>
  <li>speaks on or supports controversial issues</li>
  <li>enjoys national or international prominence</li>
  <li>holds a political office in any nation</li>
  <li>holds a senior position in a major corporation or business</li>
  <li>has received threats wihtin the last year</li>
  <li>is the subject of negative feedback your organization has received for inviting him or her</li>
  <li>draws or is expected to draw a large crowd</li>
  <li>has requested a large engagement fee to appear on campus</li>
  <li>is someone you feel extremely lucky to have interested because of his or her busy schedule</li>
  <li>is so entertaining that everyone simply must see him or her</li>
  <li>has a manager, body guard, or personal security</li>
  </ul>

  <p>
  If so, you are hosting a dignitary and should contact the Cornell Police Special Projects manager
  (255-7304) to begin assessing what level of Cornell Police support is necessary, and to assure all
  associated costs are factored into your budget.  Additionally, you should indicate the dignitary
  is visiting by checking the box below.
  </p>
  </li>
  <%= form.input :dignitary, :label => 'Is the speaker, performer or group a dignitary?',
    :as => :radio %>

