  <p>
    <%= form.label :title, "Name of Speaker, Performer, or Group" %><br />
    <%= form.text_field :title %>
  </p>

  <p>
    <%= form.label :distance, 'Travel distance' %><br />
    <%= form.text_field :distance %>
  </p>

  <p>
    <%= form.label :number_of_travelers, 'Number of travelers' %><br />
    <%= form.text_field :number_of_travelers %>
  </p>

  <p>
    <%= form.label :nights_of_lodging, 'Nights of lodging' %><br />
    <%= form.text_field :nights_of_lodging %>
  </p>

  <p>
    <%= form.label :engagement_fee %><br />
    <%= form.text_field :engagement_fee %>
  </p>

  <p>
    <%= form.label :dignitary, 'Check here if visitor is a dignitary' %>
    <%= form.check_box :dignitary %>
  </p>

