<p>
  Name of Speaker, Performer, or Group: <%=h speaker_expense.title %>
</p>

<p>
  Travel distance: <%= speaker_expense.distance %> miles round trip
</p>

<p>
  Number of travelers: <%= speaker_expense.number_of_travelers %>
</p>

<p>
  Nights of lodging: <%= speaker_expense.nights_of_lodging %>
</p>

<p>
  Engagement fee: <%= number_to_currency(speaker_expense.engagement_fee) %>
</p>

<p>
  Dignitary: <%= speaker_expense.dignitary? ? 'Yes' : 'No' %>
</p>

