<h1>Editing speaker_expense</h1>

<% form_for(@speaker_expense) do |f| %>
  <%= f.error_messages %>

  <%= render :partial => 'form', :object => f %>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @speaker_expense %> |
<%= link_to 'Back', speaker_expenses_path %>

