<p>
  <b>Speaker name:</b>
  <%=h @speaker_expense.speaker_name %>
</p>

<p>
  <b>Performance date:</b>
  <%=h @speaker_expense.performance_date %>
</p>

<p>
  <b>Tax exempt expenses:</b>
  <%=h number_to_currency(@speaker_expense.tax_exempt_expenses) %>
</p>


<%= link_to 'Edit', edit_speaker_expense_path(@speaker_expense) %> |
<%= link_to 'Back', speaker_expenses_path %>

