  <p>
    <%= form.label :parent_id,"Parent Node" %><br />
    <%= form.collection_select :parent_id,
                               form.object.structure.nodes,
                               :id,
                               :name,
                               { :include_blank => true } %>
  </p>

  <p>
    <%= form.label :name, "Name" %><br />
    <%= form.text_field :name %>
  </p>

  <p>
    <%= form.label :requestable_type, "Type of request calculation form" %><br />
    <%= form.select :requestable_type, Node::ALLOWED_TYPES, { :include_blank => false } %>
  </p>

  <p>
    <%= form.label :item_amount_limit,"Item amount limit" %><br />
    <%= form.text_field :item_amount_limit %>
  </p>

  <p>
    <%= form.label :item_quantity_limit,"Item quantity limit" %><br />
    <%= form.text_field :item_quantity_limit %>
  </p>

