<h2>Editing node for <%=h @node.structure %></h2>

<%= semantic_form_for(@node) do |f| %>
  <%= render :partial => 'form', :object => f %>
<% end %>

<p>
<%= link_to 'Show', @node %> |
<%= link_to 'Back', structure_nodes_path( @node.structure ) %>
</p>

