<h2><%=h @node %></h2>

<p>
  <b>Name:</b> <%=h @node.name %>
</p>

<p>
  <b>FundRequestable type:</b> <%=h Node::ALLOWED_TYPES.key( @node.requestable_type ) %>
</p>

<p>
  <b>Category:</b> <%=h @node.category %>
</p>

<p>
  <b>FundItem amount limit:</b> <%= number_to_currency( @node.fund_item_amount_limit ) %>
</p>

<p>
  <b>FundItem quantity limit:</b> <%=h @node.fund_item_quantity_limit %>
</p>

<p>
  <b>FundRequest structure:</b> <%=h @node.structure %>
</p>

<p>
  <b>Parent:</b> <%=h @node.parent %>
</p>

<p><b>Document types:</b> <%= @node.document_types.join ', ' %></p>

<p>
<% if permitted_to? :edit, @node -%>
<%= link_to 'Edit', edit_node_path(@node) %> |
<% end -%>
<%= link_to 'Back', structure_nodes_path( @node.structure ) %>
</p>

