<h1>Listing account_transactions</h1>

<table>
  <tr>
    <th>Status</th>
    <th>Effective on</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @account_transactions.each do |account_transaction| %>
  <tr>
    <td><%= account_transaction.status %></td>
    <td><%= account_transaction.effective_on %></td>
    <td><%= link_to 'Show', account_transaction %></td>
    <td><%= link_to 'Edit', edit_account_transaction_path(account_transaction) %></td>
    <td><%= link_to 'Destroy', account_transaction, data: { confirm: 'Are you sure?' },
      method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Account transaction', new_account_transaction_path %>

