<% if @organization %>
<h2>Listing fund sources for <%=h @organization %></h2>
<% else %>
<h2>Listing all fund sources</h2>
<% end %>

<%= paginate @fund_sources %>

<%= render :partial => "fund_sources", :object => @fund_sources %>

<%= paginate @fund_sources %>

<br />

<% if @organization %>
<p>
<% if @organization %>
<%= link_to( 'New fund_source', new_organization_fund_source_path( @organization ) ) if permitted_to?( :create, @organization.fund_sources.build ) %>
<% end %>
</p>
<% end %>

