<h2>Listing fund sources<% if @organization %> for <%=h @organization %><% end %></h2>

<%= paginate @fund_sources %>

<%= render :partial => "fund_sources", :object => @fund_sources %>

<%= paginate @fund_sources %>

<br />

<p>
<% if @organization %>
<%= link_to( 'New fund_source', new_organization_fund_source_path( @organization ) ) if permitted_to?( :create, @organization.fund_sources.build ) %>
<% end %>
</p>

