<h2><%=h @fund_source %></h2>

<p>
  <b>Name:</b> <%=h @fund_source.name %>
</p>

<p>
  <b>Framework:</b> <%=h @fund_source.framework %>
</p>

<p>
  <b>Structure:</b> <%=h @fund_source.structure %>
</p>

<p>
  <b>Contact name:</b> <%=h @fund_source.contact_name %>
</p>

<p>
  <b>Contact email:</b> <%=h @fund_source.contact_email %>
</p>

<p>
  <b>Contact web:</b> <%=h @fund_source.contact_web %>
</p>

<p>
  <b>Organization:</b> <%=h @fund_source.organization %>
</p>

<p>
  <b>Open at:</b> <%=h @fund_source.open_at %>
</p>

<p>
  <b>Closed at:</b> <%=h @fund_source.closed_at %>
</p>

<h3>Queues</h3>
<%=render :partial => 'fund_queues/fund_queues',
          :object => @fund_source.fund_queues %>

<% if permitted_to? :review, @fund_source  -%>
<h3>Reviewer information</h3>

<p>
The following reports are available:
</p>

<ul>
  <li><%=link_to 'Fund grants (csv)', fund_source_fund_grants_path( @fund_source, :format => :csv ) %></li>
</ul>

<p>
Request quantity and amount report:
</p>

<%=render :partial => 'fund_sources/fund_requests_quantity_and_amount_report',
  :locals => { :fund_source => @fund_source } %>

<p>
  <b>Grants quantity:</b> <%= @fund_source.fund_grants.count %>
</p>

<p>
  <b>Unreleased grant amount:</b> <%=number_to_currency @fund_source.fund_items.sum(:amount) %>
</p>

<p>
  <b>Released grant amount:</b> <%=number_to_currency @fund_source.fund_items.sum(:released_amount) %>
</p>

<p>
  <b>Release message:</b> (included in notices sent to requestor members when fund_request is released)
</p>

<%=markdown @fund_source.release_message %>

<% end -%>
<p>
<% if permitted_to? :edit, @fund_source -%>
<%= link_to( 'Edit', edit_fund_source_path(@fund_source) ) %> |
<% end -%>
<% if permitted_to? :review, @fund_source -%>
<%= link_to 'Fund grants', fund_source_fund_grants_path( @fund_source ) %> |
<% end -%>
<%= link_to 'Back', organization_fund_sources_path( @fund_source.organization ) %>
</p>

