  <%= render "shared/error_messages", :target => form.object %>

  <%= form.inputs :name => 'Basic Information' do %>
    <% if form.object.new_record? -%>
      <%= form.input :perspective, :as => :hidden %>
    <% end -%>
    <% if form.object.perspective == FundEdition::PERSPECTIVES.first -%>
      <%= form.input :displace_item_id, :label => 'Move to priority of',
        :hint => 'Use this to change the priority of this item relative to others',
        :as => :select, :collection => options_for_displace_item(form.object) %>
    <% end -%>
    <% if form.object.requestable %>
    <%= form.semantic_fields_for form.object.requestable.class.to_s.underscore.to_sym do |requestable_form| %>
      <%= render :partial => "#{form.object.requestable.class.to_s.tableize}/form", :object => requestable_form %>
    <% end %>
    <% end %>
  <% end %>

  <%= form.inputs :name => 'Supporting Documents' do %>
    <%= form.semantic_fields_for :documents do |document_form| %>
      <%= document_form.input :document_type_id, :as => :hidden %>
      <%= document_form.input :original, :as => :file,
        :label => document_form.object.fund_edition.perspective.titleize + ' ' +
          document_form.object.document_type.to_s %>
      <%= document_form.hidden_field :original_cache %>
    <% end %>
  <% end %>

  <%= form.inputs :name => 'Calculations' do %>
    <% if form.object.requestable %>
    <li>
    <%= render :partial => "#{form.object.requestable.class.to_s.tableize}/calculation", :object => form.object.requestable %>
    </li>
    <% end %>
    <li>
    <p>Maximum request: <%=h number_to_currency(form.object.max_fund_request) %></p>
    </li>
  <% end %>

  <%= form.inputs :name => 'Funding Amount and Comments' do %>
  <% if form.object.fund_item.node.nil? || ( form.object.fund_item.node.item_amount_limit == 0 ) %>
  <% form.object.amount = 0.0 %>
  <%= form.input :amount, :as => :hidden %>
  <li>
  <p>No request amount may be specified for this item.</p>
  </li>
  <% else %>
  <%= form.input :amount, :label => "#{form.object.perspective.capitalize} amount" %>
  <% end %>
  <%= form.input :comment, :label => "#{form.object.perspective.capitalize} comment" %>
  <% end %>

