<h2>Listing fund_editions for <%=h @fund_item %></h2>

<table>
  <tr>
    <th>FundItem</th>
    <th>FundRequestable type</th>
    <th>Amount</th>
    <th>Comment</th>
    <th>Stage</th>
  </tr>

<% @fund_editions.each do |fund_edition| %>
  <tr>
    <td><%=h fund_edition.fund_item_id %></td>
    <td><%=h fund_edition.fund_item.node.fund_requestable_type %></td>
    <td><%=h fund_edition.amount %></td>
    <td><%=h fund_edition.comment %></td>
    <td><%=h fund_edition.stage %></td>
    <td><%= link_to 'Show', fund_edition %></td>
    <td><%= link_to 'Edit', edit_fund_edition_path(fund_edition) %></td>
    <td><%= link_to 'Destroy', fund_edition, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New fund_edition', new_fund_item_fund_edition_path(@fund_item) %>

