<h2>Listing inventory items<%= @organization ? " for #{@organization}" : '' %></h2>

<%= search_form_for @q do |f| %>
  <% unless @organization -%>
  <p>
    <%= f.label :organization_last_name_cont, 'Organization' %>
    <%= f.text_field :organization_last_name_cont %>
  </p>
  <% end -%>
  <p>
    <%= f.label :description_cont, 'Description' %>
    <%= f.text_field :description_cont %>
  </p>
  <p>
    <%= f.label :identifier_cont, 'Identifier' %>
    <%= f.text_field :identifier_cont %>
  </p>
  <p>
    <%= f.submit 'Search' %>
  </p>
<% end %>

<%= render :partial => "inventory_items/inventory_items", :object => @inventory_items,
  :locals => { :organization => @organization } %>

<br />

<p>
<% if @organization && permitted_to?( :create, @organization.inventory_items.build ) -%>
<%= link_to "New inventory fund_item", new_organization_inventory_item_path %>
<% end -%>
</p>

