<p>
  <b>Organization:</b> <%=h @inventory_item.organization %>
</p>

<p>
  <b>Purchase price:</b> <%=h number_to_currency @inventory_item.purchase_price %>
</p>

<p>
  <b>Current value:</b> <%=h number_to_currency @inventory_item.current_value %>
</p>

<p>
  <b>Description:</b> <%=h @inventory_item.description %>
</p>

<p>
  <b>Identifier:</b> <%=h @inventory_item.identifier %>
</p>

<p><b>Comments:</b></p>

<%=markdown @inventory_item.comments %>

<p>
  <b>Usable?</b> <%=h @inventory_item.usable? ? "Usable" : "Not usable" %>
</p>

<p>
  <b>Missing?</b> <%=h @inventory_item.missing? ? "Missing" : "Not missing" %>
</p>

<p>
  <b>Acquired on:</b> <%=h @inventory_item.acquired_on.to_formatted_s :long %>
</p>

<p>
  <b>Scheduled retirement on:</b> <%= @inventory_item.scheduled_retirement_on.to_formatted_s :long %>
</p>

<% if @inventory_item.retired_on? -%>
<p>
  <b>Retired on:</b> <%=h @inventory_item.retired_on.to_formatted_s :long %>
</p>

<% end -%>
<p>
<%= link_to 'Edit', edit_inventory_item_path(@inventory_item) %> |
<%= link_to "List inventory items for #{@inventory_item.organization}",
  organization_inventory_items_path( @inventory_item.organization ) %>
</p>

