 <p>
  <strong>First name:</strong>
    <%= f.text_field :first_name %>
  </p>
  <p>
  <strong>Middle name:</strong>
  <br/>
    <%= f.text_field :middle_name %>
  </p>
  <p>
  <strong>Last name:</strong>
  <br/>
    <%= f.text_field :last_name %>
  </p>

<%= form.label :password, form.object.new_record? ? nil : "Change password" %><br />
<%= form.password_field :password %><br />
<br />
<%= form.label :password_confirmation %><br />
<%= form.password_field :password_confirmation %><br />

