<p><label for="net_id">NetID</label><br/>
<%= form.text_field :net_id %></p>
 <p>
    <%= form.label :first_name %>
    <%= form.text_field :first_name %>
  </p>
  <p>
    <%= form.label :middle_name %>
    <%= form.text_field :middle_name %>
  </p>
  <p>
    <%= form.label :last_name %>
    <%= form.text_field :last_name %>
  </p>
  <p>
    <%= form.label :password, form.object.new_record? ? nil : "Change password" %><br />
    <%= form.password_field :password %><br />
    <br />
    <%= form.label :password_confirmation %><br />
    <%= form.password_field :password_confirmation %><br />
  </p>
  <% if current_user.admin? then %>
  <p>
    <%= form.label :admin %>
    <%= form.check_box :admin %>
  </p>
  <% end %>

