<p><label for="net_id">NetID</label><br/>
<%= form.text_field :net_id %></p>
 <p>
  <strong>First name:</strong>
  <br />
    <%= form.text_field :first_name %>
  </p>
  <p>
  <strong>Middle name:</strong>
  <br/>
    <%= form.text_field :middle_name %>
  </p>
  <p>
  <strong>Last name:</strong>
  <br/>
    <%= form.text_field :last_name %>
  </p>

<%= form.label :password, form.object.new_record? ? nil : "Change password" %><br />
<%= form.password_field :password %><br />
<br />
<%= form.label :password_confirmation %><br />
<%= form.password_field :password_confirmation %><br />

