<h2>Listing users</h2>

<%= form_for :search, :url => users_path, :html => { :method => :get } do |f| %>
  <p>
    <%= f.label :name_contains, 'Name' %>
    <%= f.text_field :name_contains %>
    <%= f.submit 'Search' %>
  </p>
<% end %>

<%= paginate @users %>

<%= render :partial => "users", :object => @users %>

<%= paginate @users %>

<br />

<p>
<% if permitted_to? :create, User.new -%>
<%= link_to 'New user', new_user_path %>
<% end -%>
</p>

