<h2>Listing users</h2>

<%= form_tag users_path, :method => :get do |f| %>
  <p>
    <%= label_tag 'search[name_contains]', 'Name' %>
    <%= text_field_tag 'search[name_contains]', @search['name_contains'] %>
    <%= submit_tag 'Search' %>
  </p>
<% end %>

<%= paginate @users %>

<%= render :partial => "users", :object => @users %>

<%= paginate @users %>

<br />

<p>
<% if permitted_to? :create, User.new -%>
<%= link_to 'New user', new_user_path %>
<% end -%>
</p>

