<h1>Listing users</h1>

<% form_for :search, :url => users_path, :html => { :method => :get } do |f| %>
  <p>
    <%= f.label :q, 'Search' %>
    <%= f.text_field :q %>
    <%= f.submit 'Go' %>
  </p>
<% end %>

<%= will_paginate @users %>

<table>
  <tr>
    <th>Name</th>
    <th>Net Id</th>
    <th>Email</th>
    <th>Date of Birth</th>
  </tr>

<%= render :partial => 'user', :collection => @users %>

</table>

<%= will_paginate @users %>

<br />

<p>
<%= link_to 'New user', new_user_path %>
</p>

