<h2>Listing users</h2>

<% form_for :search, :url => users_path, :html => { :method => :get } do |f| %>
  <p>
    <%= f.label :q, 'Search' %>
    <%= f.text_field :q %>
    <%= f.submit 'Go' %>
  </p>
<% end %>

<%= will_paginate @users %>

<%= render :partial => "users", :object => @users %>

<%= will_paginate @users %>

<br />

<p>
<%= link_to 'New user', new_user_path %>
</p>

