<h2>Welcome, <%=h current_user.full_name %> (<%=h current_user.net_id %>)</h2>

<% if current_user.admin? %>
<h3>Administration</h3>
<p>
<%= %w( agreements categories document_types frameworks organizations registrations roles structures users ).map { |option|
  link_to option, send(option + '_path')
}.join(' | ') %>
</p>
<% end %>

<% unless current_user.organizations.empty? %>
  <h3>Organizations You Are In:</h3>

  <p>
  Choose a specific organization to get options particular to that organization.
  </p>

  <table>
    <tr>
      <th>Organization</th>
      <th>Your Role(s)</th>
    </tr>

    <%= render :partial => "organization", :collection => current_user.organizations %>
  </table>
<% end %>

<% unless current_user.registrations.active.unmatched.empty? %>
  <h3>Unmatched Registrations:</h3>

  <p>
  These are registrations that you have started with the Student Activities
  Office, but have not yet matched to year-to-year record in the Office of the Assemblies.
  You should <a href="mailto:assembly@cornell.edu">email</a> the office or pick up your
  budget folder to get a matching year-to-year record set up.
  </p>

  <ul>
  <%= render :partial => "registration", :collection => current_user.registrations.active.unmatched %>
  </ul>
<% end %>

<% unless current_user.unfulfilled_permissions.length == 0 %>
<p>You have unfulfilled requirements that may limit what you are able to do.</p>
<ul>
<% current_user.unfulfilled_requirements.keys.select { |r| Fulfillment::FULFILLABLE_TYPES['User'].include? r.class.to_s }.each do |requirement| %>
<li><%=h requirement %></li>
<% end %>
</ul>
<% end %>

