<h2>Welcome, <%=h current_user.first_name %> (<%=h current_user.net_id %>)</h2>

<p>
You are logged in as <%= current_user.full_name %>.  Please completely quit your
browser if this is incorrect or you wish to log out.  You may
<%= link_to 'update your information', edit_user_path(current_user) %>.
</p>

<% unless current_user.organizations.empty? -%>
  <h3>Your Organizations</h3>

  <p>
  Choose a specific organization to get options particular to that organization.
  </p>

  <table>
  <thead>
    <tr>
      <th>Organization</th>
      <th>Your Role(s)</th>
    </tr>
  </thead>
  <tbody>
    <%= render :partial => "organization", :collection => current_user.organizations %>
  </tbody>
  </table>
<% end -%>

<% unless current_user.registrations.active.unmatched.empty? -%>
  <h3>Your <em>Unmatched</em> Registrations</h3>

  <p>
  These are registrations that you have started with the Student Activities
  Office, but have not yet matched to a corresponding record in the Office of the Assemblies.
  You should <a href="mailto:assembly@cornell.edu">email</a> the office to get a matching
  record set up.
  </p>

  <ul>
  <%= render :partial => "registration", :collection => current_user.registrations.active.unmatched %>
  </ul>

<% end -%>

