<h2>Welcome, <%=h current_user.first_name %> (<%=h current_user.net_id %>)</h2>

<p>
You are logged in as <%= current_user.full_name %>.  Please completely quit your
browser if this is incorrect or you wish to log out.  You may
<%= link_to 'update your information', edit_user_path(current_user) %>.
</p>

<% unless current_user.organizations.empty? -%>
  <h3>Your Organizations</h3>

  <p>
  Choose a specific organization to get options particular to that organization.
  </p>

  <table>
  <thead>
    <tr>
      <th>Organization</th>
      <th>Your Role(s)</th>
    </tr>
  </thead>
  <tbody>
    <%= render :partial => "organization", :collection => current_user.organizations.uniq %>
  </tbody>
  </table>
<% end -%>

<% unless current_user.registrations.active.unmatched.empty? -%>
  <h3>Your <em>Unmatched</em> Registrations</h3>

  <p>
  These are registrations that you have started with the Student Activities
  Office, but have not yet matched to a corresponding record with SAFC or GPSAFC.
  You should email <a href="mailto:safc@cornell.edu">safc@cornell.edu</a> or
  <a href="mailto:gpsafc@cornell.edu">gpsafc@cornell.edu</a> to request that one
  is set up.
  </p>

  <ul>
  <%= render :partial => "registration", :collection => current_user.registrations.active.unmatched %>
  </ul>

<% end -%>

<% unless current_user.approved_agreements.empty?  %>
  <h3>Your Approved Agreements</h3>

  <p>You have approved the following agreements:</p>

  <ul>
  <% current_user.approved_agreements.map(&:approvable).each do |agreement| %>
  <li><%= agreement %></li>
  <% end %>
  </ul>
<% end %>

<% unless (Agreement.all - current_user.approved_agreements.map(&:approvable)).empty?  %>
  <h3>Your Unapproved Agreements</h3>

  <p>You have not yet approved the following agreements (click to read and approve any agreements as needed):</p>

  <ul>
  <% (Agreement.all - current_user.approved_agreements.map(&:approvable)).each do |agreement| %>
  <li><%=link_to h(agreement), new_polymorphic_path([agreement,:approval]) %></li>
  <% end %>
  </ul>
<% end %>

