<p>Net Id: <%=h @user.net_id %></p>

<p>First name: <%=h @user.first_name%></p>

<p>Middle name: <%=h @user.middle_name%></p>

<p>Last name: <%=h @user.last_name%></p>

<p>Email: <%=h @user.email %></p>

<p>Date of birth: <%=h @user.date_of_birth.to_s(:long) if @user.date_of_birth %></p>

<p>Admin: <%= @user.admin? ? 'Yes' : 'No' %></p>

<h3>Agreements approved by user</h3>

<ul>
<% Agreement.find( @user.approvals.agreements.map { |a| a.approvable_id } ).each do |agreement| %>
<li><%= agreement %></li>
<% end %>
</ul>

<p>
<%= link_to 'Edit', edit_user_path(@user) %>
</p>

