<h2><%=h @user.full_name %></h2>

<p>
  NetID:
  <%=h @user.net_id %>
</p>

<p>
  Email:
  <%=h @user.email %>
</p>

<p>
  Date of Birth:
  <%=h @user.date_of_birth.to_s(:long) if @user.date_of_birth %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %>

