<p>Net Id: <%=h @user.net_id %></p>

<p>First name: <%=h @user.first_name%></p>

<p>Middle name: <%=h @user.middle_name%></p>

<p>Last name: <%=h @user.last_name%></p>

<p>Email: <%=h @user.email %></p>

<p>Date of birth: <%=h @user.date_of_birth.to_s(:long) if @user.date_of_birth %></p>

<p>Administrator? <%= @user.admin? ? 'Yes' : 'No' %></p>

<%= render :partial => 'addresses/address_detail', :collection => @user.addresses %>

<h3>Agreements approved by user</h3>

<ul>
<% @user.approved_agreements.each do |agreement| %>
<li><%= agreement %></li>
<% end %>
</ul>

<p>
<% if permitted_to? :edit, @user -%>
<%= link_to 'Edit', edit_user_path(@user) %> |
<% end -%>
<%= link_to 'List fulfillments', user_fulfillments_path(@user) %>
</p>

