<h2>Listing registrations <%= @organization ? "for #{h @organization}" : "" %><%= @registration_term ? "for #{h @registration_term}" : "" %></h2>

<%= form_for :search,
  :url => polymorphic_path( [ (@organization ? @organization : @registration_term), :registrations ] ),
  :html => { :method => :get } do |f| %>
  <p>
    <%= f.label :name_like, 'Name' %>
    <%= f.text_field :name_like %>
    <%= f.submit 'Search' %>
  </p>
<% end %>

<%= paginate @registrations %>

<%= render :partial => "registrations/registrations", :object => @registrations %>

<%= paginate @registrations %>

