<h2>Listing registrations</h2>

<% form_for :search, :url => registrations_path, :html => { :method => :get } do |f| %>
  <p>
    <%= f.label :name_like, 'Name' %>
    <%= f.text_field :name_like %>
    <%= f.submit 'Search' %>
  </p>
<% end %>

<%= will_paginate @registrations %>

<%= render :partial => "registrations/registrations", :object => @registrations %>

<%= will_paginate @registrations %>

