<h2> Registration for <%=h @registration.name %></h2>

<dl>
  <dt>Purpose</dt>
  <dd><%=h @registration.purpose %></dd>

  <dt>Org Email</dt>
  <dd><%=h @registration.org_email %></dd>

  <dt>Organization</dt>
  <dd><%=h @registration.organization %></dd>

  <dt>When Updated</dt>
  <dd><%=h @registration.when_updated %></dd>

  <dt>Funding sources</dt>
  <dd><%=h @registration.funding_sources %></dd>

  <dt>Active?</dt>
  <dd><%=h @registration.active? ? 'YES' : 'NO' %></dd>

  <dt>Independent?</dt>
  <dd><%= @registration.independent? ? 'YES' : 'NO' %></dd>

  <dt>Registered?</dt>
  <dd><%=h @registration.registered? ? 'YES' : 'NO' %></dd>

  <%= render :partial => "membership", :object => @registration %>

  <dt>Advisor</dt>
  <dd><dl>
    <dt>NetID</dt>
    <dd><%=h @registration.adv_net_id %></dd>

    <dt>Email</dt>
    <dd><%=h @registration.adv_email %></dd>

    <dt>First Name</dt>
    <dd><%=h @registration.adv_first_name %></dd>

    <dt>Last Name</dt>
    <dd><%=h @registration.adv_last_name %></dd>

    <dt>Address</dt>
    <dd><%=h @registration.adv_address %></dd>
  </dl></dd>

  <dt>President</dt>
  <dd><dl>
    <dt>NetID</dt>
    <dd><%=h @registration.pre_net_id %></dd>

    <dt>Email</dt>
    <dd><%=h @registration.pre_email %></dd>

    <dt>First Name</dt>
    <dd><%=h @registration.pre_first_name %></dd>

    <dt>Last Name</dt>
    <dd><%=h @registration.pre_last_name %></dd>
  </dl></dd>

  <dt>Vice President</dt>
  <dd><dl>
    <dt>NetID</dt>
    <dd><%=h @registration.vpre_net_id %></dd>

    <dt>Email</dt>
    <dd><%=h @registration.vpre_email %></dd>

    <dt>First Name</dt>
    <dd><%=h @registration.vpre_first_name %></dd>

    <dt>Last Name</dt>
    <dd><%=h @registration.vpre_last_name %></dd>
  </dl></dd>
  <dt>Treasurer</dt>
  <dd><dl>
    <dt>NetID</dt>
    <dd><%=h @registration.tre_net_id %></dd>

    <dt>Email</dt>
    <dd><%=h @registration.tre_email %></dd>

    <dt>First Name</dt>
    <dd><%=h @registration.tre_first_name %></dd>

    <dt>Last Name</dt>
    <dd><%=h @registration.tre_last_name %></dd>
  </dl></dd>
  <dt>Officer</dt>
  <dd><dl>
    <dt>NetID</dt>
    <dd><%=h @registration.officer_net_id %></dd>

    <dt>Email</dt>
    <dd><%=h @registration.officer_email %></dd>

    <dt>First Name</dt>
    <dd><%=h @registration.officer_first_name %></dd>

    <dt>Last Name</dt>
    <dd><%=h @registration.officer_last_name %></dd>
  </dl></dd>
</dl>

