<h2>Listing activity accounts for <%= @context %></h2>

<%= will_paginate @activity_accounts %>

<%= render :partial => "activity_accounts", :object => @activity_accounts %>

<%= will_paginate @activity_accounts %>

<br />

<p>
<% if @university_account && permitted_to?( :create, @university_account.activity_accounts.build ) %>
<%= link_to 'New activity account', new_university_account_activity_account_path( @university_account ) %>
<% end %>
</p>

