<h2>Listing activity accounts for <%= @context %></h2>

<%= paginate @activity_accounts %>

<%= render partial: "activity_accounts", object: @activity_accounts,
  locals: { organization: @organization, with_balances: true } %>

<%= paginate @activity_accounts %>

<br />

<p>
<% if @fund_grant && permitted_to?( :create, @fund_grant.activity_accounts.build ) %>
<%= link_to 'New activity account', new_fund_grant_activity_account_path( @fund_grant ) %>
<% end %>
</p>

