<p>
  <b>Grant:</b> <%= @activity_account.fund_grant %>
</p>

<p>
  <b>Category:</b> <%= @activity_account.category %>
</p>

<p>
  <b>Comments:</b>
</p>

<%=markdown @activity_account.comments %>

<p>
<% if permitted_to? :edit, @activity_account %>
<%= link_to 'Edit', edit_activity_account_path(@activity_account) %> |
<% end %>
<%= link_to 'Back', fund_grant_activity_accounts_path( @activity_account.fund_grant ) %>
</p>

