<h1>New attachment for <%= @attachment.attachable %></h1>

<% form_for( :attachment,
             @attachment,
             :url => version_attachments_path(@attachment.attachable),
             :html => { :multipart => true } ) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :attachment_type %><br />
    <%= f.collection_select :attachment_type, @attachment.attachable_types, :id, :name %>
  </p>

  <%= render :partial => 'form', :object => 'f' %>

  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<p>
<%= link_to 'Back', version_attachments_path( @attachment.attachable ) %>
</p>

