<p>
Dear Officers of <%= @request.organization %>,
</p>

<p>
This email is to inform you that your <%=h @request %> has been completed, but requires further action before it will be considered submitted.
</p>

<p>
The following people must <%= link_to 'approve the request', new_polymorphic_url([ @request, 'approval' ]) %> before it is considered submitted:
</p>

<ul>
<% @request.users.unfulfilled( Approver.quantity_null ).each do |user| -%>
<li><%= user.name %></li>
<% end -%>
</ul>

<% if @request.basis.submissions_due_at && @request.basis.submissions_due_at > DateTime.now %>
<p>
The next deadline for submissions is <%= @request.basis.submissions_due_at.to_s :us_ordinal %>.
</p>
<% end %>

<% if @request.basis.contact_web %>
<p>
More information is available <%= link_to 'here', @request.basis.contact_web %>.
</p>
<% end %>

<p>
Sincerely,
</p>

<p>
<%= @request.basis.contact_name %>
</p>

