<% organization ||= false %>
  <%= table_row_tag do %>
    <% unless organization -%>
    <td><%= university_account.organization %></td>
    <% end -%>
    <td><%= university_account.account_code %></td>
    <td><%= university_account.subaccount_code %></td>
    <td><%=raw university_account.active? ? 'Yes' : 'No' %></td>
    <td><%= link_to 'Show', university_account %></td>
  <% end %>

