<h2>Editing university account</h2>

<%= semantic_form_for(@university_account) do |f| %>
  <%= render :partial => "university_accounts/form", :object => f %>
<% end %>

<p>
<%= link_to 'Show', @university_account %> |
<%= link_to 'List University Accounts', university_accounts_path %>:
<%= link_to "for #{h @university_account.organization}", organization_university_accounts_path(@university_account.organization) %>
</p>

