<h2>Listing university accounts</h2>

<%= search_form_for @q do |f| %>
  <% unless @organization -%>
  <p>
    <%= f.label :organization_last_name_cont, 'Organization' %>
    <%= f.text_field :organization_last_name_cont %>
  </p>
  <% end -%>
  <p>
    <%= f.label :department_code_cont, 'Department code' %>
    <%= f.text_field :department_code_cont %>
  </p>
  <p>
    <%= f.label :subledger_code_cont, 'Subledger code' %>
    <%= f.text_field :subledger_code_cont %>
  </p>
  <p>
    <%= f.submit 'Search' %>
  </p>
<% end %>


<%= render :partial => "university_accounts/university_accounts",
  :object => @university_accounts, :locals => { :organization => @organization } %>

<br />

<p>
<% if @organization && permitted_to?( :create, @organization.university_accounts.build ) -%>
<%= link_to 'New university account', new_organization_university_account_path %>
<% end -%>
</p>

