<p>
  <b>Organization:</b> <%=h @university_account.organization %>
</p>

<p>
  <b>Department code:</b> <%=h @university_account.department_code %>
</p>

<p>
  <b>Subledger code:</b> <%=h @university_account.subledger_code %>
</p>

<p>
<%= link_to( 'Edit', edit_university_account_path(@university_account) ) if permitted_to? :edit, @university_account %> |
<%= link_to 'List university accounts', university_accounts_path %>:
<%= link_to "for #{h @university_account.organization}", organization_university_accounts_path(@university_account.organization) %>
</p>

