<p>
  <b>Organization:</b> <%= @university_account.organization %>
</p>

<p>
  <b>Account code:</b> <%= @university_account.account_code %>
</p>

<p>
  <b>Subaccount code:</b> <%= @university_account.subaccount_code %>
</p>

<p>
  <b>Active?</b> <%=raw @university_account.active? ? 'Yes' : 'No' %>
</p>

<p>
<%= link_to( 'Edit', edit_university_account_path(@university_account) ) if permitted_to? :edit, @university_account %> |
<%= link_to @university_account.organization %>

</p>

