<h1>Listing request_structures</h1>

<table>
  <tr>
    <th>Name</th>
  </tr>

<% @request_structures.each do |request_structure| %>
  <tr>
    <td><%=h request_structure.name %></td>
    <td><%= link_to 'Show', request_structure %></td>
    <td><%= link_to 'Edit', edit_request_structure_path(request_structure) %></td>
    <td><%= link_to 'Destroy', request_structure, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New request_structure', new_request_structure_path %>