<h1>Listing document types</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Maximum Size</th>
  </tr>

<% @document_types.each do |document_type| %>
  <tr>
    <td><%=h document_type.name %></td>
    <td><%=h document_type.max_size_string %></td>
    <td><%= link_to_if document_type.may_see?(current_user), 'Show', document_type %></td>
    <td><%= link_to_if document_type.may_update?(current_user), 'Edit', edit_document_type_path(document_type) %></td>
    <td><%= link_to_if document_type.may_destroy?(current_user), 'Destroy', document_type, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<p>
<%= link_to 'New document_type', new_document_type_path %>
</p>

