<h2><%=h @document_type %></h2>

<p>
  <strong>Name:</strong> <%=h @document_type.name %>
</p>

<p>
  <b>Maximum size:</b> <%=h(
    "#{@document_type.max_size_quantity} #{@document_type.max_size_unit.pluralize}" )%>
</p>

<p>
<% if permitted_to? :edit, @document_type -%>
<%= link_to 'Edit', edit_document_type_path(@document_type) %> |
<% end -%>
<%= link_to 'Back', document_types_path %>
</p>

