<% if request.new_record? %>
  <p>
    <%=h request.basis.name %>
    <%= link_to_if (request.may_create?(current_user), 'Create', new_organization_request_path(request.organizations.first)) { "" } %>
  </p>

<% else %>
  <p>
    <%=h request.to_s %>
    <%= link_to_if (request.may_see?(current_user), 'Show', request) { "" } %>
    <%= link_to_if (request.may_update?(current_user), 'Edit', edit_request_path(request)) { "" } %>
    <%= link_to_if (request.may_destroy?(current_user), 'Destroy', request, :confirm => 'Are you sure?', :method => :delete) { "" } %>
  </p>
<% end %>

