<% if request.new_record? %>
  <p>
    <%=h request.basis.name %>
    <%= link_to 'Create', new_organization_request_path(request.organization) %>
  </p>

<% else %>
  <p>
    <%=h request.to_s %>

  <% if request.status == released %>
    <%= link_to 'Show', request %>
  <% else %>
    <%= link_to 'Edit', edit_request_path(request) %> |
    <%= link_to 'Destroy', request, :confirm => 'Are you sure?', :method => :delete %>
  <% end %>

  </p>
<% end %>

