<% status ||= false %>
<% basis ||= false %>
<% organization ||= false %>

<%= table_row_tag do %>
  <% unless basis %>
  <td><%= request.basis.name %></td>
  <% end %>
  <% unless organization %>
  <td><%= request.organization %></td>
  <% end %>
  <% unless status %>
  <td><%= request.status %></td>
  <% end %>
  <% if request.new_record? -%>
  <td>
    <%= form_for request, :url => organization_requests_path(request.organization) do |f| %>
      <%= f.hidden_field :basis_id %>
      <%= f.submit 'Create' %>
    <% end %>
  </td>
  <% else -%>
  <td/>
  <td><%= link_to 'Show Detail', request %></td>
  <td><%= link_to 'Manage Items', request_items_path(request) %></td>
  <td><%= link_to( 'Destroy', request, :confirm => 'Are you sure?', :method => :delete) if permitted_to? :destroy, request %></td>
  <td><%= link_to( 'Approve', new_request_approval_path( request ) ) if permitted_to?( :approve, request ) && request.approvals.where( :user_id => current_user.id ).empty? %></td>
  <td><%= link_to_unapprove_request(request) %></td>
  <td><%= link_to( 'Accept', accept_request_path(request), :method => :put ) if permitted_to? :accept, request %></td>
  <td><%= link_to( 'Reject', reject_request_path(request) ) if permitted_to?( :reject, request ) %></td>
  <% end -%>
<% end %>

