<h2>Editing request for <%=h @request.organizations.first.name %></h2>

<% form_for( @request ) do |f| %>

  <%= f.error_messages %>
  <%= render :partial => 'form',
             :object => f %>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @request %> |
<%= link_to 'Back', organization_requests_path( @request.organizations.first ) %>

