<h2>Listing requests</h2>

<% form_for :search, :url => basis_requests_path( @basis ), :html => { :method => :get } do |f| %>
  <% unless @basis -%>
  <p>
    <%= f.label :basis_name_like, 'Basis' %>
    <%= f.text_field :basis_name_like %>
  </p>
  <% end -%>
  <% unless @organization -%>
  <p>
    <%= f.label :organizations_name_like, 'Organization' %>
    <%= f.label :organizations_name_like %>
  </p>
  <% end -%>
  <p>
    <%= f.label :status, 'Status' %>
    <%= f.select :status, Request.aasm_state_names, { :include_blank => true } %>
  </p>
  <p>
    <%= f.submit 'Go' %>
  </p>
<% end %>

<%= will_paginate @requests %>

<hr/>

<%= render :partial => "requests", :object => @requests, :locals => { :basis => @basis } %>

<hr/>

<%= will_paginate @requests %>

