<h1>Listing requests</h1>

<% if @basis %>
<% form_for :search, :url => basis_requests_path( @basis ), :html => { :method => :get } do |f| %>
  <p>
    <%= f.label :q, 'Search' %>
    <%= f.text_field :q %>
    <%= f.label :status, 'Status' %>
    <%= f.select :status, Request.aasm_state_names, { :include_blank => true } %>
    <%= f.submit 'Go' %>
  </p>
<% end %>
<% end %>

<%= will_paginate @requests %>

<table>
<thead>
  <tr>
    <td>Organization</td>
    <td>Status</td>
    <td>Options</td>
  </tr>
</thead>
<tbody>
  <%= render :partial => 'request', :collection => @requests %>
</tbody>
</table>

<%= will_paginate @requests %>

