<h2>Listing requests</h2>

<% form_for :search, :url => polymorphic_path( [ @context, :requests ] ), :html => { :method => :get } do |f| %>
  <% unless @basis -%>
  <p>
    <%= f.label :basis_name_like, 'Basis' %>
    <%= f.text_field :basis_name_like %>
  </p>
  <% end -%>
  <% unless @organization -%>
  <p>
    <%= f.label :organization_name_contains, 'Organization' %>
    <%= f.text_field :organization_name_contains %>
  </p>
  <% end -%>
  <p>
    <%= f.label :status_equals, 'Status' %>
    <%= f.select :status_equals, Request.aasm_state_names, { :include_blank => true } %>
  </p>
  <p>
    <%= f.submit 'Search' %>
  </p>
<% end %>

<%= will_paginate @requests %>

<hr/>

<%= render :partial => "requests", :object => @requests, :locals => { :basis => @basis } %>

<hr/>

<%= will_paginate @requests %>

<hr/>

<p>
<% if @organization -%>
<%= link_to h("Back to #{@organization}"), @organization %> |
<% end -%>
<% if @basis -%>
<%= link_to h("Back to #{@basis}"), @basis %> |
<% end -%>
</p>

