<h2>Listing requests</h2>

<% if @basis %>
<% form_for :search, :url => basis_requests_path( @basis ), :html => { :method => :get } do |f| %>
  <p>
    <%= f.label :q, 'Search' %>
    <%= f.text_field :q %>
    <%= f.label :status, 'Status' %>
    <%= f.select :status, Request.aasm_state_names, { :include_blank => true } %>
    <%= f.submit 'Go' %>
  </p>
<% end %>
<% end %>

<%= will_paginate @requests %>

<hr/>

<%= render :partial => "requests", :object => @requests, :locals => { :basis => @basis } %>

<hr/>

<%= will_paginate @requests %>

