<h1>Listing requests</h1>

<table>
  <tr>
    <th>Basis</th>
  </tr>

<% @requests.each do |request| %>
  <tr>
    <td><%=h request.basis.name %></td>
    <td><%= link_to 'Show', request %></td>
    <td><%= link_to 'Edit', edit_request_path(request) %></td>
    <td><%= link_to 'Destroy', request, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New request', new_organization_request_path( @organization.id ) %>

