<h1>New request</h1>

<%= javascript_include_tag :defaults %>

<% form_for(@request) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :request_structure_id %><br />
    <%= f.text_field :request_structure_id %>
  </p>

  <div id="items">
    <% @request.request_items.each do |item| %>
      <%= render :partial => 'item_form', :object => item %>
    <% end %>
  </div>

  <p><%= add_item_link 'Add an item', 'items' %></p>

  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>
<div class="test"></div>
<%= link_to 'Back', requests_path %>

