<h1>New request</h1>

<% form_for(@request) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :request_structure_id %><br />
    <%= f.text_field :request_structure_id %>
  </p>

  <% for item in @request.request_items %>
    <% fields_for "request[request_items][]", item do |item_f| %>
      <%= render :partial => 'item_form', :object => item_f %>
    <% end %>
  <% end %>

  <%= link_to_function 'Add a task' do |page|
    #item = render(:partial => 'item_form', :locals => { :pf => form })
    #$('items').insert({ bottom: "#{ escape_javascript item }" });
    page.insert_html :bottom :items :partial => 'item_form'
  end %>

  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', requests_path %>

