<h1>New Request for <%=h @organization.name %></h1>

<% form_for(:request,
            @request,
            :url => organization_requests_path(@organization),
            :method => :post) do |f| %>

  <%= f.error_messages %>

  <%= render :partial => 'form',
             :object => f %>

  <%= f.label :basis_id, 'Basis for request' %>
  <%= f.collection_select :basis_id,
                          @organization.requests.creatable.map { |r| r.basis },
                          :id,
                          :name %>
  <p>
    <%= f.submit 'Create' %>
  </p>

<% end %>
<%= link_to 'Back', profile_organization_path( @organization ) %>

