<h1>Showing <%=h @request %></h1>

<p>Status: <%=h @request.status %></p>
<p>Requestor total: <%= number_to_currency @request.editions.perspective_equals('requestor').sum('editions.amount') %></p>
<% if @request.may_review? current_user %>
<p>Reviewer total: <%= number_to_currency @request.editions.perspective_equals('reviewer').sum('editions.amount') %></p>
<p>Allocation total (after caps): <%= number_to_currency @request.items.sum('items.amount') %></p>
<table>
  <tr>
    <th>Category</th>
    <th>Allocation (after caps)</th>
  </tr>
  <% Category.all.each do |category| %>
  <tr>
    <td><%=h category.name %></td>
    <td><%= number_to_currency @request.items.allocation_for_category(category) %></td>
  </tr>
  <% end %>
</table>

<p>Note: Higher priority items are allocated before lower priorities until the allocation cap is reached.</p>
<% end %>

<% if @request.status == 'started' %>
<p>
Below is a listing of items in your request.  You may add, move (re-prioritize),
and delete items.  For each item, you should also add requestor edition specifiying
details about that item, including the amount you are requesting.
</p>

<p>
When you are finished, instruct the appropriate officers of your organization to
approve this request.  After the request is approved, you cannot change it.
</p>
<% elsif @request.status == 'completed' %>
<p>
This request is now frozen because it has been approved by one or more authorized officers.
Its status will advance to <em>submitted</em> once all required approvals are
registered.
</p>
<% else %>
<% if @request.may_review? current_user %>
<% if @request.status == 'accepted' %>
<p>
This request is accepted for review by the commission.
</p>
<% end %>
<% else %>
<p>
This request is now submitted for review.
</p>
<% end %>
<% end %>

<h2>Items</h2>

<table border="1px">
  <tr>
    <th>Perspective</th>
    <th>Amount</th>
    <th>Comment</th>
  </tr>

<%= render :partial => 'items/item', :collection => @request.items.root,
      :locals => { :read_only => true, :show_detail => true } %>

</table>

<% unless @request.approvers.unfulfilled_for_status(@request.status).empty? %>
<h2>Who must approve</h2>
<p>The following users must approve before the request may be considered submitted.</p>
<ul>
  <% @request.approvers.unfulfilled_for_status(@request.status).each do |user| %>
  <li><%=h user %></li>
  <% end %>
</ul>
<% end %>

<h2>Who has approved</h2>

<% if @request.approvals.empty? %>
<p>No users have approved this request yet.</p>
<% else %>
<table border="1px">
  <tr>
    <th>User</th>
    <th>Created</th>
  </tr>

<%= render :partial => 'approvals/approval', :collection => @request.approvals,
           :locals => { :user => true, :approvable => false } %>

</table>
<% end %>

<p>
<%= link_to_request_organization_profiles @request %>
</p>

