<% fund_source ||= false %>
<% organization ||= false %>

<%= table_row_tag do %>
  <% unless fund_source %>
  <td><%= fund_grant.fund_source.name %></td>
  <% end %>
  <% unless organization %>
  <td><%= fund_grant.organization %></td>
  <% end %>
  <td><%= link_to 'Show', fund_grant %></td>
  <td><%= link_to( 'Edit', edit_fund_grant_path(fund_grant) ) if permitted_to? :edit, fund_grant %></td>
  <td><%= link_to( 'Destroy', fund_grant, :confirm => 'Are you sure you wish to destroy?', :method => :delete) if permitted_to? :destroy, fund_grant %></td>
<% end %>

