<h2>Listing fund grants</h2>

<%= form_tag polymorphic_path( [ @context, :fund_grants ] ), :method => :get do |f| %>
  <% unless @fund_source -%>
  <p>
    <%= label_tag 'search[fund_source_name_contains]', 'Fund source' %>
    <%= search_field_tag 'search[fund_source_name_contains]', @search['fund_source_name_contains'] %>
  </p>
  <% end -%>
  <% unless @organization -%>
  <p>
    <%= label_tag 'search[organization_name_contains]', 'Organization' %>
    <%= search_field_tag 'search[organization_name_contains]', @search['fund_source_name_contains'] %>
  </p>
  <% end -%>
  <p>
    <%= submit_tag 'Search' %>
  </p>
<% end %>

<%= paginate @fund_grants %>

<hr/>

<%= render :partial => "fund_grants", :object => @fund_grants,
  :locals => { :fund_source => @fund_source, :organization => @organization } %>

<hr/>

<%= paginate @fund_grants %>

<hr/>

<p>
<% if @organization -%>
<%= link_to h("Back to #{@organization}"), @organization %> |
<% end -%>
<% if @fund_source -%>
<%= link_to h("Back to #{@fund_source}"), @fund_source %> |
<% end -%>
</p>

