<h2><%= @fund_grant %></h2>

<p>
 <b>Fund source:</b> <%= @fund_grant.fund_source %>
</p>

<p>
 <b>Organization:</b> <%= @fund_grant.organization %>
</p>

<p>
  <b>Released at:</b> <%= @fund_grant.released_at? ? @fund_grant.released_at.to_s( :rfc822 ) : 'Not released' %>
</p>

<p>
<% if permitted_to? :edit, @fund_grant %>
<%= link_to 'Edit', edit_fund_grant_path( @fund_grant ) %>
<% end %>
</p>

