<h2><%= @fund_grant %></h2>

<p>
 <b>Fund source:</b> <%= @fund_grant.fund_source %>
</p>

<p>
<%
#TODO: reloading organization should not be necessary
%>
<% @fund_grant.organization.reload %>
 <b>Organization:</b> <%= @fund_grant.organization %>
</p>

<p>
  <b>Returning?</b> <%= @fund_grant.returning? ? 'Yes' : 'No'  %>
</p>

<%=content_tag 'h3', "Allocation summary" %>

<p>The following amounts have been allocated per category.</p>

<table id="categories">
  <thead>
    <tr>
      <th>Category</th>
      <% if permitted_to? :manage, @fund_grant %>
       <th>Pending Allocation</th>
      <% end %>
      <th>Released Allocation</th>
    </tr>
  </thead>
  <tbody>
    <% @fund_grant.categories.group { id }.each do |category| %>
      <%= table_row_tag do %>
        <td><%= category %></td>
        <% if permitted_to? :manage, @fund_grant %>
        <td><%=number_to_currency @fund_grant.fund_allocations.pending.for_category(category).sum(:amount) %></td>
        <% end %>
        <td><%=number_to_currency @fund_grant.fund_allocations.final.for_category(category).sum(:amount) %></td>
      <% end %>
    <% end %>
    <%= table_row_tag do %>
      <td>TOTAL</td>
      <% if permitted_to? :manage, @fund_grant %>
      <td><%=number_to_currency @fund_grant.fund_allocations.pending.sum(:amount) %></td>
      <% end %>
      <td><%=number_to_currency @fund_grant.fund_allocations.final.sum(:amount) %></td>
    <% end %>
  </tbody>
</table>

<%=content_tag 'h3', "Fund requests" %>

<% if @fund_grant.fund_requests.length > 0 %>
<p>
The following fund requests are associated with this grant:
</p>

<%=render :partial => 'fund_requests/fund_requests',
  :object => @fund_grant.fund_requests,
  :locals => { :fund_grant => @fund_grant } %>
<% else %>
<p>
No fund requests are associated with this grant.
</p>
<% end %>

<% if permitted_to? :create, @fund_grant.fund_requests.build %>
<p>
You may <%=link_to 'prepare a new fund request', new_fund_grant_fund_request_path(@fund_grant) %>.
</p>
<% end %>

<p>
<%= link_to 'List activity accounts', fund_grant_activity_accounts_path(@fund_grant) %>
<% if permitted_to? :edit, @fund_grant %>
 | <%= link_to 'Edit', edit_fund_grant_path( @fund_grant ) %>
<% end %>
</p>

