<p>
<%=h @approval.approvable %> is now awaiting your approval.  To approve, go to
<a href="<%= new_fund_request_approval_url(@approval.approvable) %>"><%= new_fund_request_approval_url(@approval.approvable) %></a>.
</p>

<p>
If you have any questions, please contact <%=h @approval.approvable.contact_name %>
&lt;<a href="mailto:<%= @approval.approvable.contact_email%>"><%= @approval.approvable.contact_email %></a>&gt;.
</p>

