<h1>Editing document</h1>

<% form_for( :document,
             @document,
             :url => document_path( @document ),
             :html => { :multipart => true } ) do |f| %>
  <%= f.error_messages %>

  <p>
    <strong>Document type:</strong> <%=h f.object.document_type.name %>
  </p>

  <%= render :partial => 'form', :object => f %>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<p>
<%= link_to 'Show', @document %> |
<%= link_to 'Back', version_documents_path(@document.version) %>
</p>

