<h1>New document for <%= @document.edition %></h1>

<% form_for( :document,
             @document,
             :url => edition_documents_path(@document.edition),
             :html => { :multipart => true } ) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :document_type_id, "Document type:" %>
    <%= f.collection_select :document_type_id, @document.edition.document_types, :id, :name %>
  </p>

  <%= render :partial => 'form', :object => f %>

  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<p>
<%= link_to 'Back', edition_documents_path( @document.edition ) %>
</p>

