<h1>New document for <%= @document.attachable %></h1>

<% form_for( :document,
             @document,
             :url => version_documents_path(@document.attachable),
             :html => { :multipart => true } ) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :document_type_id, "Document type:" %>
    <%= f.collection_select :document_type_id, @document.attachable.document_types, :id, :name %>
  </p>

  <%= render :partial => 'form', :object => f %>

  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<p>
<%= link_to 'Back', version_documents_path( @document.attachable ) %>
</p>

