<h1>New registration_criterion</h1>

<% form_for(@registration_criterion) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :must_register %><br />
    <%= f.check_box :must_register %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', registration_criterions_path %>