<p>
    <%= form.label :name, "Name" %><br />
    <%= form.text_field :name %>
  </p>
  <p>
    <%= form.label :requestable_type, "Type of request calculation form" %><br />
    <%= form.text_field :requestable_type %>
  </p>

  <p>
    <%= form.label :item_amount_limit,"Item amount limit" %><br />
    <%= form.text_field :item_amount_limit %>
  </p>

  <p>
    <%= form.label :item_quantity_limit,"Item Quantity Limit" %><br />
    <%= form.text_field :item_quantity_limit %>
  </p>

<p>
    <%= form.label :request_structure_id,"Structure Id" %>
    <% @rs= RequestStructure.find(:all)%>


   <%= form.collection_select :request_structure_id, @rs, :id, :id %>


  </p>


<p>
    <%= form.label :parent_id,"Parent ID" %><br />
    <%= form.text_field :parent_id %>
  </p>

