<p>
    <%= form.label :name, "Name" %><br />
    <%= form.text_field :name %>
  </p>
  <p>
    <%= form.label :form_type, " Title of event" %><br />
    <%= form.text_field :form_type %>
  </p>

  <p>
    <%= form.label :item_amount_limit,"Item amount limit" %><br />
    <%= form.text_field :item_amount_limit %>
  </p>

  <p>
    <%= form.label :item_quantity_limit,"Item Quantity Limit" %><br />
    <%= form.text_field :item_quantity_limit %>
  </p>

<p>
    <%= form.label :request_structure_id,"Structure Id" %><br />
    <%= form.text_field :request_structure_id %>
  </p>

<p>
    <%= form.label :parent_id,"Parent ID" %><br />
    <%= form.text_field :parent_id %>
  </p>

