<h1>Listing request_nodes</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Requestable type</th>
    <th>Item amount limit</th>
    <th>Item quantity limit</th>
    <th>Request structure</th>
    <th>Parent</th>
  </tr>

<% @request_nodes.each do |request_node| %>
  <tr>
    <td><%=h request_node.name %></td>
    <td><%=h request_node.requestable_type %></td>
    <td><%=h request_node.item_amount_limit %></td>
    <td><%=h request_node.item_quantity_limit %></td>
    <td><%=h request_node.request_structure_id %></td>
    <td><%=h request_node.parent_id %></td>
    <td><%= link_to 'Show', request_node %></td>
    <td><%= link_to 'Edit', edit_request_node_path(request_node) %></td>
    <td><%= link_to 'Destroy', request_node, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New request_node', new_request_structure_request_node_path(@request_structure.id) %>

