  <p>
    Number of issues: <%= allocation.no_of_issues %>
  </p>
  <p>
    Number of copies per issue: <%= allocation.no_of_copies_per_issue %>
  </p>

  <p>
    Purchase price: <%= number_to_currency(allocation.purchase_price) %>
  </p>

  <p>
    Revenue: <%= number_to_currency(allocation.revenue) %>
  </p>

  <p>
    Cost of publication: <%= number_to_currency(allocation.cost_publication) %>
  </p>

  <p>
    Total cost of publication: <%= number_to_currency(allocation.total_cost_publication) %>
  </p>

