  <p>
    <%= form.label :no_of_issues %><br />
    <%= form.text_field :no_of_issues %>
  </p>
  <p>
    <%= form.label :no_of_copies_per_issue %><br />
    <%= form.text_field :no_of_copies_per_issue %>
  </p>
  <p>
    <%= form.label :total_copies %><br />
    <%= form.text_field :total_copies %>
  </p>
  <p>
    <%= form.label :purchase_price %><br />
    <%= form.text_field :purchase_price %>
  </p>
  <p>
    <%= form.label :revenue %><br />
    <%= form.text_field :revenue %>
  </p>
  <p>
    <%= form.label :cost_publication %><br />
    <%= form.text_field :cost_publication %>
  </p>
  <p>
    <%= form.label :total_cost_publication %><br />
    <%= form.text_field :total_cost_publication %>
  </p>

