  <p>
    <%= form.label :no_of_issues, "Number of Issues" %><br />
    <%= form.text_field :no_of_issues %>
  </p>
  <p>
    <%= form.label :no_of_copies_per_issue, "Number of Copies Per Issue" %><br />
    <%= form.text_field :no_of_copies_per_issue %>
  </p>

  <p>
    <%= form.label :purchase_price, "Purchase Price of Each Issue" %><br />
    <%= form.text_field :purchase_price %>
  </p>

  <p>
    <%= form.label :cost_publication, "Cost of Publication Per Issue" %><br />
    <%= form.text_field :cost_publication %>
  </p>

