  <p>
    Title: <%=h publication_expense.title %>
  </p>

  <p>
    Number of issues: <%= publication_expense.number_of_issues %>
  </p>

  <p>
    Number of copies per issue: <%= publication_expense.copies_per_issue %>
  </p>

  <p>
    Purchase price per copy: <%= number_to_currency(publication_expense.price_per_copy) %>
  </p>

  <p>
    Cost of publication per issue: <%= number_to_currency(publication_expense.cost_per_issue) %>
  </p>

  <p>
    Revenue: <%= number_to_currency(publication_expense.revenue) %>
  </p>

<%= render :partial => "publication_expenses/calculation", :object => publication_expense %>

