<h1>Editing publication_expense</h1>

<% form_for(@publication_expense) do |f| %>
  <%= f.error_messages %>

  <%= include :partial => 'form',
              :object => f %>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @publication_expense %> |
<%= link_to 'Back', publication_expenses_path %>

