<fieldset>

  <legend><b>Requestable Info</b></legend>

  <% form.fields_for( form.object.requestable.class.to_s.underscore.to_sym,
                      form.object.requestable ) do |requestable_form| %>
    <%= render :partial => "#{form.object.requestable.class.to_s.tableize}/form",
               :object => requestable_form %>
  <% end %>

  <% if form.object.requestable.max_request %>
    <p>Maximum request: <%=h number_to_currency(form.object.requestable.max_request) %></p>
  <% end %>

</fieldset>

<p>
  <%= form.label :amount, form.object.stage + " Amount" %><br />
  $<%= form.text_field :amount %>
</p>

<p>
  <%= form.label :comment, form.object.stage + " Comment" %><br />
  <%= form.text_field :comment %>
</p>

<p>
  <%= hidden_field_tag :stage_pos, form.object.stage_id %>
</p>

