<p>
  <b>Item id:</b> <%=h version.item_id %>
</p>

<p>
  <b>Requestable id:</b> <%=h version.requestable.id %>
</p>

<p>
  <b>Requestable type:</b> <%=h version.item.node.requestable_type %>
</p>

<p>
  <b>Request node:</b> <%= version.item.node %>
</p>

<p>
  <b>Perspective:</b> <%=h version.perspective %>
</p>

<p>
  <b>Maximum request:</b> <%=h number_to_currency(version.requestable.max_request) %>
</p>

<p>
  <b><%=h version.perspective.titleize %> amount:</b> <%=h number_to_currency(version.amount) %>
</p>

<p>
  <b><%=h version.perspective.titleize %> comment:</b> <%=h version.comment %>
</p>


<%= render :partial => "#{version.requestable.class.to_s.tableize}/" +
                       "#{version.requestable.class.to_s.underscore}",
           :object => version.requestable %>

