<p>
<strong>Stage:</stage> <%=h version.stage_id %>
</p>

<p>
  <b>Stage:</b>
  <%=h version.stage %>
</p>

<p>
  <b>Maximum request:</b> <%=h number_to_currency(version.requestable.max_request) %>
</p>

<p>
  <b><%=h version.stage.titleize %> amount:</b> <%=h number_to_currency(version.amount) %>
</p>

<p>
  <b><%=h version.stage.titleize %> comment:</b> <%=h version.comment %>
</p>


<%= render :partial => "#{version.requestable.class.to_s.tableize}/" +
                       "#{version.requestable.class.to_s.underscore}",
           :object => version.requestable %>

