<h1>Listing versions</h1>

<table>
  <tr>
    <th>Item</th>
    <th>Requestable type</th>
    <th>Requestable</th>
    <th>Amount</th>
    <th>Comment</th>
    <th>Stage</th>
  </tr>

<% @versions.each do |version| %>
  <tr>
    <td><%=h version.item_id %></td>
    <td><%=h version.requestable_type %></td>
    <td><%=h version.requestable_id %></td>
    <td><%=h version.amount %></td>
    <td><%=h version.comment %></td>
    <td><%=h version.stage_id %></td>
    <td><%= link_to 'Show', version %></td>
    <td><%= link_to 'Edit', edit_version_path(version) %></td>
    <td><%= link_to 'Destroy', version, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New version', new_version_path %>

