<p>
  <b>Item id:</b>
  <%=h @version.item_id %>
</p>

<p>
  <b>Requestable id:</b>
  <%=h @version.requestable.id %>
</p>

<p>
  <b>Requestable type:</b> <%=h @version.item.node.requestable_type %>
</p>

<p>
  <b>Stage:</b>
  <%=h @version.stage.name %>
</p>

<p>
  <b>Maximum request:</b> <%=h number_to_currency(@version.requestable.max_request) %>
</p>

<p>
  <b><%=h @version.stage.name %> amount:</b> <%=h number_to_currency(@version.amount) %>
</p>

<p>
  <b><%=h @version.stage.name %> comment:</b> <%=h @version.comment %>
</p>

<%= link_to 'Edit', edit_version_path(@version) %> |
<%= link_to 'Back', request_items_path(@version.item.request) %>

