<h1>New agreement_criterion</h1>

<% form_for(@agreement_criterion) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :agreement %><br />
    <%= f.text_field :agreement %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', agreement_criterions_path %>