<p>
  Event date: <%=h allocation.event_date %>
</p>

<p>
  Event title: <%=h allocation.event_title %>
</p>

<p>
  Event location: <%=h allocation.event_location %>
</p>

<p>
  Event purpose: <%=h allocation.event_purpose %>
</p>

<p>
  Members per group or team: <%=h allocation.members_per_group %>
</p>

<p>
  Number of groups or teams: <%=h allocation.number_of_groups %>
</p>

<p>
  Total travel mileage: <%=h allocation.mileage %>
</p>

<p>
  Nights of lodging: <%=h allocation.nights_of_lodging %>
</p>

<p>
  Fees per person: <%=h allocation.per_person_fees %>
</p>

<p>
  Fees per group or team: <%=h allocation.per_group_fees %>
</p>

<p>
  Total eligible expenses: <%=h number_to_currency(allocation.total_eligible_expenses) %>
</p>

