<p>Participants: <%= calculation.participants %></p>
<p>Total per person fees: <%= number_to_currency calculation.total_person_fees %></p>
<p>Total per group fees: <%= number_to_currency calculation.total_group_fees %></p>
<p>Travel cost: <%= number_to_currency calculation.travel_cost %></p>
<p>Lodging cost: <%= number_to_currency calculation.lodging_cost %></p>

