  <p>
    <%= form.label :event_date %><br />
    <%= form.date_select :event_date %>
  </p>
  <p>
    <%= form.label :event_title %><br />
    <%= form.text_field :event_title %>
  </p>
  <p>
    <%= form.label :event_location %><br />
    <%= form.text_field :event_location %>
  </p>
  <p>
    <%= form.label :event_purpose %><br />
    <%= form.text_area :event_purpose, :size => "40x6" %>
  </p>
  <p>
    <%= form.label :members_per_group %><br />
    <%= form.text_field :members_per_group %>
  </p>
  <p>
    <%= form.label :number_of_groups %><br />
    <%= form.text_field :number_of_groups %>
  </p>
  <p>
    <%= form.label :mileage %><br />
    <%= form.text_field :mileage %>
  </p>
  <p>
    <%= form.label :nights_of_lodging %><br />
    <%= form.text_field :nights_of_lodging %>
  </p>
  <p>
    <%= form.label :per_person_fees %><br />
    <%= form.text_field :per_person_fees %>
  </p>
  <p>
    <%= form.label :per_group_fees %><br />
    <%= form.text_field :per_group_fees %>
  </p>

