<p>
  Event Date: <%=h travel_event_expense.date %>
</p>

<p>
  Event Title: <%=h travel_event_expense.title %>
</p>

<p>
  Event Location: <%=h travel_event_expense.location %>
</p>

<p>
  Event Purpose: <%=h travel_event_expense.purpose %>
</p>

<p>
  Number of travelers per group or team: <%=h travel_event_expense.travelers_per_group %>
</p>

<p>
  Number of groups or teams: <%=h travel_event_expense.number_of_groups %>
</p>

<p>
  Travel distance: <%=h travel_event_expense.distance %> miles round trip
</p>

<p>
  Nights of lodging: <%=h travel_event_expense.nights_of_lodging %>
</p>

<p>
  Fees per person: <%= number_to_currency(travel_event_expense.per_person_fees) %>
</p>

<p>
  Fees per group or team: <%= number_to_currency(travel_event_expense.per_group_fees) %>
</p>

