<h1>Listing travel_event_expenses</h1>

<table>
  <tr>
    <th>Event date</th>
    <th>Event title</th>
    <th>Event location</th>
    <th>Event purpose</th>
    <th>Members per group</th>
    <th>Number of groups</th>
    <th>Mileage</th>
    <th>Nights of lodging</th>
    <th>Per person fees</th>
    <th>Per group fees</th>
    <th>Total eligible expenses</th>
  </tr>

<% @travel_event_expenses.each do |travel_event_expense| %>
  <tr>
    <td><%=h travel_event_expense.event_date %></td>
    <td><%=h travel_event_expense.event_title %></td>
    <td><%=h travel_event_expense.event_location %></td>
    <td><%=h travel_event_expense.event_purpose %></td>
    <td><%=h travel_event_expense.members_per_group %></td>
    <td><%=h travel_event_expense.number_of_groups %></td>
    <td><%=h travel_event_expense.mileage %></td>
    <td><%=h travel_event_expense.nights_of_lodging %></td>
    <td><%=h travel_event_expense.per_person_fees %></td>
    <td><%=h travel_event_expense.per_group_fees %></td>
    <td><%=h travel_event_expense.total_eligible_expenses %></td>
    <td><%= link_to 'Show', travel_event_expense %></td>
    <td><%= link_to 'Edit', edit_travel_event_expense_path(travel_event_expense) %></td>
    <td><%= link_to 'Destroy', travel_event_expense, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New travel_event_expense', new_travel_event_expense_path %>