<p>
  <b>Event date:</b> <%=h @travel_event_expense.event_date %>
</p>

<p>
  <b>Event title:</b> <%=h @travel_event_expense.event_title %>
</p>

<p>
  <b>Event location:</b> <%=h @travel_event_expense.event_location %>
</p>

<p>
  <b>Event purpose:</b> <%=h @travel_event_expense.event_purpose %>
</p>

<p>
  <b>Total eligible expenses:</b> <%=h number_to_currency(@travel_event_expense.total_eligible_expenses) %>
</p>

<%= link_to 'Edit', edit_travel_event_expense_path(@travel_event_expense) %> |
<%= link_to 'Back', travel_event_expenses_path %>

