<h1>Listing durable_good_expenses</h1>

<table>
  <tr>
    <th>Description</th>
    <th>Quantity</th>
    <th>Price</th>
    <th>Total</th>
  </tr>

<% @durable_good_expenses.each do |durable_good_expense| %>
  <tr>
    <td><%=h durable_good_expense.description %></td>
    <td><%=h durable_good_expense.quantity %></td>
    <td><%=h durable_good_expense.price %></td>
    <td><%=h durable_good_expense.total %></td>
    <td><%= link_to 'Show', durable_good_expense %></td>
    <td><%= link_to 'Edit', edit_durable_good_expense_path(durable_good_expense) %></td>
    <td><%= link_to 'Destroy', durable_good_expense, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New durable_good_expense', new_durable_good_expense_path %>