<p>
  <b>Description:</b>
  <%=h @durable_good_expense.description %>
</p>

<p>
  <b>Quantity:</b>
  <%=h @durable_good_expense.quantity %>
</p>

<p>
  <b>Price:</b>
  <%=h @durable_good_expense.price %>
</p>

<p>
  <b>Total:</b>
  <%=h @durable_good_expense.total %>
</p>


<%= link_to 'Edit', edit_durable_good_expense_path(@durable_good_expense) %> |
<%= link_to 'Back', durable_good_expenses_path %>