<h1>Editing membership_criterion</h1>

<% form_for(@membership_criterion) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :minimal_percentage %><br />
    <%= f.text_field :minimal_percentage %>
  </p>
  <p>
    <%= f.label :type_of_member %><br />
    <%= f.text_field :type_of_member %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @membership_criterion %> |
<%= link_to 'Back', membership_criterions_path %>