<h1>Editing address for <%= @address.addressable %></h1>

<% form_for(@address) do |f| %>
  <%= f.error_messages %>

  <%= render :partial => 'form', :object => f %>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<p>
<%= link_to 'Show', @address %> |
<%= link_to 'Back', addressable_addresses_path(@address.addressable) %>
</p>

