<h1>New address for <%=h @address.addressable %></h1>

<% form_for( :address, @address, :url => addressable_addresses_path( @address.addressable ) ) do |f| %>

  <%= f.error_messages %>

  <%= render :partial => 'form', :object => f %>

  <p>
    <%= f.submit 'Create' %>
  </p>

<% end %>

<p>
<%= link_to 'Back', addressable_addresses_path(@address.addressable) %>
</p>

