<% freeze ||= false %>
<%= table_row_tag( true, true ) do %>
  <td colspan="2"><%= fund_item.title %><% if fund_item.title != fund_item.node.name %> (<%= fund_item.node.name %>)<% end %></td>
  <% unless freeze %>
    <%=render partial: 'fund_items/managed_fund_item',
      object: fund_item, locals: { fund_request: fund_request } %>
  <% end %>
<% end %>
<% unless freeze %>
  <%= table_row_tag( false ) do %>
    <td colspan="2"></td>
    <td colspan="4"><%= render partial: 'fund_items/new_fund_item',
      object: fund_item.fund_grant.fund_items.build( parent_id: fund_item.id ),
      locals: { fund_request: fund_request } %></td>
  <% end %>
  <%= table_row_tag( false ) do %>
    <td>Allocated amount</td>
    <td><%=number_to_currency fund_request.fund_allocations.final.to_a.
      select { |a| a.fund_item_id == fund_item.id }.first.try :amount %></td>
  <% end %>
<% end %>
<% fund_item.fund_editions.for_request( fund_request ).each do |fund_edition| %>
  <% if permitted_to? :show, fund_edition %>
    <% if fund_request.state == 'allocated' ||
      permitted_to?( :review, fund_edition )  %>
    <%=render :partial => 'fund_requests/fund_edition',
      :object => fund_edition %>
    <% else %>
    <%=render :partial => 'fund_requests/fund_edition',
      :object => fund_edition.version_at( fund_request.released_at,
        :has_one => true ) %>
    <% end %>
  <% end %>
<% end %>

