<h2>Listing fund_requests</h2>

<%= form_for :search, :url => polymorphic_path( [ @context, :fund_requests ] ), :html => { :method => :get } do |f| %>
  <% unless @fund_source -%>
  <p>
    <%= f.label :fund_source_name_contains, 'FundSource' %>
    <%= f.text_field :fund_source_name_contains %>
  </p>
  <% end -%>
  <% unless @organization -%>
  <p>
    <%= f.label :organization_name_contains, 'Organization' %>
    <%= f.text_field :organization_name_contains %>
  </p>
  <% end -%>
  <p>
    <%= f.label :status_equals, 'Status' %>
    <%= f.select :status_equals, FundRequest.aasm_state_names, { :include_blank => true } %>
  </p>
  <p>
    <%= f.submit 'Search' %>
  </p>
<% end %>

<%= will_paginate @fund_requests %>

<hr/>

<%= render :partial => "fund_requests", :object => @fund_requests, :locals => { :fund_source => @fund_source } %>

<hr/>

<%= will_paginate @fund_requests %>

<hr/>

<p>
<% if @organization -%>
<%= link_to h("Back to #{@organization}"), @organization %> |
<% end -%>
<% if @fund_source -%>
<%= link_to h("Back to #{@fund_source}"), @fund_source %> |
<% end -%>
</p>

