<h2>Listing fund requests for <%= @organization %> <%= @fund_source %> <%= @fund_queue %></h2>

<%= form_tag polymorphic_path( [ @context, :fund_requests ] ), :method => :get do |f| %>
  <% unless @fund_source -%>
  <p>
    <%= label_tag 'search[fund_source_name_contains]', 'Fund source' %>
    <%= search_field_tag 'search[fund_source_name_contains]', @search['fund_source_name_contains'] %>
  </p>
  <% end -%>
  <% unless @organization -%>
  <p>
    <%= label_tag 'search[organization_name_contains]', 'Requestor' %>
    <%= search_field_tag 'search[organization_name_contains]', @search['fund_source_name_contains'] %>
  </p>
  <% end -%>
  <p>
    <%= label_tag 'search[with_state]', 'State' %>
    <%= select_tag 'search[with_state]', options_from_collection_for_select(
      # TODO should factor out the list into a class constant
      %w( started tentative submitted released finalized withdrawn rejected ),
      :to_s, :to_s, @search['with_state'] ),
    { :include_blank => true } %>
  </p>
  <p>
    <%= label_tag 'search[with_review_state]', 'Review State' %>
    <%= select_tag 'search[with_review_state]', options_from_collection_for_select(
      # TODO should factor out the list into a class constant
      %w( unreviewed tentative ready ),
      :to_s, :to_s, @search['with_review_state'] ),
    { :include_blank => true } %>
  </p>
  <p>
    <%= submit_tag 'Search' %>
  </p>
<% end %>

<%= paginate @fund_requests %>

<hr/>

<%= render :partial => "fund_requests", :object => @fund_requests,
  :locals => { :fund_source => @fund_source } %>

<hr/>

<%= paginate @fund_requests %>

<hr/>

<p>
<% if @organization -%>
<%= link_to h("Back to #{@organization}"), @organization %> |
<% end -%>
<% if @fund_source -%>
<%= link_to h("Back to #{@fund_source}"), @fund_source %> |
<% end -%>
</p>

