<h2>New fund request</h2>

<p>
  <b>Fund source:</b> <%= @fund_request.fund_grant.fund_source %>
</p>

<p>
  <b>Organization:<b> <%= @fund_request.fund_grant.organization %>
</p>

<%= semantic_form_for( @fund_request,
  :url => fund_grant_fund_requests_path(@fund_request.fund_grant) ) do |f| %>
  <%= render :partial => 'form', :object => f %>
<% end %>

<p>
<%= link_to 'Back', profile_organization_path( @fund_request.fund_grant.organization ) %>
</p>

