<h2>Reject <%=h @fund_request %></h2>

<%= semantic_form_for( @fund_request, :url => do_reject_fund_request_path(@fund_request), :method => :put ) do |f| %>
  <%= f.inputs do %>
    <%= f.input :reject_message %>
  <% end %>
  <%= f.buttons do %>
    <%= f.commit_button :label => 'Reject' %>
  <% end %>
<% end %>

<p>
<%= link_to 'Show', @fund_request %> |
<%= link_to 'Back', organization_fund_requests_path( @fund_request.fund_grant.organization ) %>
</p>

