
<% form.fields_for :requestable do |requestable_form| %>
  <%= render :partial => "#{form.object.node.requestable_type.tableize}/form",
             :object => requestable_form %>
<% end %>

  <p>
    <%= form.label :request_amount,"Requested Amount" %><br />
    <%= form.text_field :request_amount %>
  </p>

  <p>
    <%= form.label :requestor_comment,"Requestor Comment" %><br />
    <%= form.text_field :requestor_comment %>
  </p>

