<% fields_for :version do |version_form| %>

  <% fields_for :requestable do |requestable_form| %>
    <%= render :partial => "#{form.object.node.requestable_type.tableize}/form",
               :object => requestable_form %>
  <% end %>

  <p>
    <%= version_form.label :amount,"Requested Amount" %><br />
    <%= version_form.text_field :amount %>
  </p>

  <p>
    <%= version_form.label :comment,"Requestor Comment" %><br />
    <%= version_form.text_field :comment %>
  </p>

<% end %>

