<% if item.may_see? current_user %>
  <% table_row_tag false do %>
    <td colspan="3"><%=h item.title %><% if item.title != item.node.name %> (<%=h item.node.name %>)<% end %></td>
    <% unless read_only %>
    <td><%= link_to_if item.may_update?(current_user), 'Move', move_item_path(item) %></td>
    <td><%= link_to_if item.may_destroy?(current_user), 'Destroy', item, :confirm => 'Are you sure?', :method => :delete %></td>
    <% end %>
  <% end %>
  <% if show_detail && item.request.may_review?(current_user) %>
  <% table_row_tag false do %>
    <td>Allocation Amount</td>
    <td><%=h number_to_currency item.amount %></td>
  <% end %>
  <% end %>

  <% item.editions.next unless read_only %>
  <%= render :partial => 'items/edition', :collection => item.editions, :locals => { :read_only => read_only, :show_detail => show_detail } %>

  <% unless read_only %>
  <%= render :partial => 'items/new_item', :object => item.request.items.build( :parent => item ) %>
  <% end %>

  <% table_row_class %>

  <%= render :partial => 'items/item', :collection => item.request.items.children_of(item).reject { |i| i.new_record? },
    :locals => { :read_only => read_only, :show_detail => show_detail } %>
<% end %>

