  <% table_row_tag do %>
    <td><%=h item.title %><% if item.title != item.node.name %> (<%=h item.node.name %>)<% end %></td>
    <td><%= render :partial => 'items/new_item', :object => item.request.items.build( :parent => item ) %></td>
    <td><%= link_to( 'Edit', edit_item_path( item ) ) if permitted_to?( :edit, item ) %></td>
    <td><%= link_to( 'Destroy', item, :confirm => 'Are you sure?', :method => :delete ) if permitted_to?( :destroy, item ) %></td>
  <% end %>

  <%= render :partial => 'items/item', :collection => item.request.items.children_of(item).reject { |i| i.new_record? } %>

