  <% table_row_tag false do %>
    <td colspan="3"><%=h item.title %><% if item.title != item.node.name %> (<%=h item.node.name %>)<% end %></td>
    <% if read_only %>
    <td colspan="2">&nbsp;</td>
    <% else %>
    <td><%= link_to( 'Destroy', item, :confirm => 'Are you sure?', :method => :delete ) if permitted_to?( :destroy, item ) %></td>
    <% end %>
  <% end %>

  <%= render :partial => 'items/edition', :collection => item.editions, :locals => { :read_only => read_only, :show_detail => show_detail } %>

  <% unless read_only %>
  <%= render :partial => 'items/new_item', :object => item.request.items.build( :parent => item ) %>
  <% end %>

  <% table_row_class %>

  <%= render :partial => 'items/item', :collection => item.request.items.children_of(item).reject { |i| i.new_record? },
    :locals => { :read_only => read_only, :show_detail => show_detail } %>

