<style type="text/css">
table td { padding: 4px; }
</style>

<h2>Listing items for <%=h @request %></h2>

<table border="1px">
<thead>
  <tr>
    <th>Perspective</th>
    <th>Amount</th>
    <th>Comment</th>
  </tr>
</thead>
<tbody>
<%= render :partial => 'item', :collection => @request.items.root,
      :locals => { :read_only => false, :show_detail => false } %>
</tbody>

<%= render :partial => 'new_item', :object => @request.items.build %>

</table>

<p>
<%= link_to_request_organization_profiles @request %> |
<%= link_to 'Show request', @request %>
</p>

