<style type="text/css">
table td { padding: 4px; }
</style>

<h2>Listing items for <%=h @request %></h2>

<%= render :partial => "items", :object => @request.items.root, :locals => {
  :show_detail => false, :read_only => false
} %>

<%= render :partial => 'new_item', :object => @request.items.build %>

</table>

<p>
<%= link_to_request_organization_profiles @request %> |
<%= link_to 'Show request', @request %>
</p>

