<h1>New item</h1>

<% form_for( :item,
             @item,
             :url => request_items_path( @item.request_id ),
             :method => :post ) do |f| %>
  <%= f.error_messages %>

  <%= f.hidden_field :parent_id %>
  <%= f.hidden_field :node_id %>

  <%= render :partial => 'form',
             :object => f %>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', request_items_path( @item.request_id ) %>

