<h2><%=h @item %> of <%=h @item.request %></h2>

<% if @item.parent -%>
  <p>
    <b>Parent:</b> <%=h @item.parent %>
  </p>

<% end -%>

<%= render :partial => "items/detail", :object => @item %>

<p>
<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to h("Back to #{@item.request}"), request_items_path(@item.request) %>
</p>

