<h2><%= @item %></h2>

<p>
  <b>Requestable type:</b> <%=h @item.node.requestable_type %>
</p>

<p>
  <b>Request node:</b> <%=h @item.node.name %>
</p>

<%= render :partial => 'editions/edition', :collection => @item.editions.with_permissions_to(:show) %>

<p>
<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', request_items_path(@item.request_id) %>
</p>

