<p>
  <strong>Requestable type:</strong> <%=h @item.node.requestable_type %>
</p>

<p>
  <strong>Request node:</strong> <%=h @item.node.name %>
</p>

<%= render :partial => 'versions/version', :collection => @item.versions %>

<p>
<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', request_items_path(@item.request_id) %>
</p>

