<h2>
Listing fulfillments
<% if @fulfiller %>
for <%=h @fulfiller %>
<% end %>
<% if @fulfillable %>
for <%=h @fulfillable %>
<% end %>
</h2>

<%= paginate @fulfillments %>

<%= render :partial => "fulfillments", :object => @fulfillments,
  :locals => { :fulfiller => @fulfiller, :fulfillable => @fulfillable } %>

<%= paginate @fulfillments %>

<p>
<% if @fulfiller %>
<%= link_to "Back to #{@fulfiller}", @fulfiller %>
<% end %>
<% if @fulfillable %>
<%= link_to "Back to #{@fulfillable}", @fulfillable %>
<% end %>
</p>

