<h2>
Listing fulfillments
<% if @fulfiller %>
for <%=h @fulfiller %>
<% end %>
<% if @fulfillable %>
for <%=h @fulfillable %>
<% end %>
</h2>

<%= will_paginate @fulfillments %>

<%= render :partial => "fulfillments", :object => @fulfillments,
  :locals => { :fulfiller => @fulfiller, :fulfillable => @fulfillable } %>

<%= will_paginate @fulfillments %>

<p>
<% if @fulfiller %>
<%= link_to 'Back', @fulfiller %>
<% end %>
<% if @fulfillable %>
<%= link_to 'Back', @fulfillable %>
<% end %>
</p>

