<h1>New fulfillment</h1>

<% form_for(@fulfillment) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :condition_id %><br />
    <%= f.text_field :condition_id %>
  </p>
  <p>
    <%= f.label :condition_type %><br />
    <%= f.text_field :condition_type %>
  </p>
  <p>
    <%= f.label :fulfiller_id %><br />
    <%= f.text_field :fulfiller_id %>
  </p>
  <p>
    <%= f.label :fulfiller_type %><br />
    <%= f.text_field :fulfiller_type %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', fulfillments_path %>