<p>
Dear Officers of <%= @fund_request.fund_grant.organization %>,
</p>

<p>
This email is to inform you that your <%= @fund_request %> has been started, but requires further action before it will be considered submitted.
</p>

<p>
You may <%= link_to 'make changes to the fund_request here', fund_request_url(@fund_request) %>.
</p>

<p>
<strong>When the fund request is ready for submission,</strong> any of the following <%= link_to 'may approve it here', new_polymorphic_url( [@fund_request, 'approval'] ) %>:
</p>

<ul>
<% @fund_request.users.unfulfilled.each do |user| -%>
<li><%= user.name %></li>
<% end -%>
</ul>

<% if @fund_request.fund_grant.fund_source.contact_web %>
<p>
More information is available <%= link_to 'here', @fund_request.fund_grant.fund_source.contact_web %>.
</p>
<% end %>

<p>
Sincerely,
</p>

<p>
<%= @fund_request.fund_grant.fund_source.contact_name %>
</p>

