<p>
Dear Officers of <%= @fund_request.fund_grant.organization %>,
</p>

<p>
This email is to inform you that your <%=h @fund_request %> has been tentatively completed, but requires further action before it will be considered submitted.
</p>

<p>
The following people must <%= link_to 'approve the fund_request', new_polymorphic_url([ @fund_request, 'approval' ]) %> before it is considered submitted:
</p>

<ul>
<% @fund_request.users.unfulfilled( Approver.where( :quantity => nil ) ).each do |user| -%>
<li><%= user.name %></li>
<% end -%>
</ul>

<%=render partial: 'fund_request_mailer/prospective_deadline', locals: { fund_request: @fund_request } %>
<% if @fund_request.fund_grant.fund_source.contact_web %>
<p>
More information is available <%= link_to 'here', @fund_request.fund_grant.fund_source.contact_web %>.
</p>
<% end %>

<p>
Sincerely,
</p>

<p>
<%= @fund_request.fund_grant.fund_source.contact_name %>
</p>

