  <%= table_row_tag do %>
    <td><%= framework.name %></td>
    <td><%= link_to 'Show', framework %></td>
    <td><%= link_to( 'Edit', edit_framework_path(framework) ) if permitted_to? :edit, framework %></td>
    <td><%= link_to( 'Destroy', framework,
        data: { confirm: 'Are you sure?', method: :delete
      ) if permitted_to? :destroy, framework %></td>
  <% end %>

