<h1>Editing framework</h1>

<% form_for(@framework) do |f| %>
  <%= f.error_messages %>

  <%= render :partial => 'form', :object => f %>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<p>
<%= link_to 'Show', @framework %> |
<%= link_to 'Back', frameworks_path %>
</p>

