<p>
  <strong>Name:</strong>
  <%=h @framework.name %>
</p>

<p>
  <strong>Must register:</strong> <%=h @framework.must_register? ? "yes" : "no" %>
</p>

<p>
  <strong>Member requirement:</strong> <%=h @framework.member_requirement %>
</p>

<p>
<%= link_to 'Edit', edit_framework_path(@framework) %> |
<%= link_to 'Back', frameworks_path %>
</p>

