<h2><%=h @framework %></h2>

<p>
  <strong>Name:</strong> <%=h @framework.name %>
</p>

<p>
<%= link_to 'Edit', edit_framework_path(@framework) %> |
<%= link_to 'List permissions', framework_permissions_path(@framework) %> |
<%= link_to 'Back', frameworks_path %>
</p>

