  <p>
    <%= form.label :name %><br />
    <%= form.text_field :name %>
  </p>
  <p>
    <%= form.label :contact_name %>
    <%= form.text_field :contact_name %>
  </p>
  <p>
    <%= form.label :contact_email %>
    <%= form.text_field :contact_email %>
  </p>
  <p>
    <%= form.label :content %><br />
    <%= form.text_area :content %>
  </p>

