<p>
  <b>Name:</b> <%=h @agreement.name %>
</p>

<p>
  <b>Contact name:</b> <%=h @agreement.contact_name %>
</p>

<p>
  <b>Contact email:</b> <%=h @agreement.contact_email %>
</p>

<p>
  <b>Content:</b> <%=h @agreement.content %>
</p>

<p>
<%= link_to 'Edit', edit_agreement_path(@agreement) %> |
<%= link_to 'Back', agreements_path %>
</p>

