<%= render "shared/error_messages", target: form.object %>
<%= form.inputs do %>
  <% if permitted_to? :admin, form.object %>
    <%= form.input :first_name %>
    <%= form.input :last_name %>
  <% end %>
<% end %>

<%= form.semantic_fields_for :organization_profile do |subform| %>
  <%= subform.inputs do %>
    <%= render partial: 'organization_profiles/form', object: subform %>
  <% end %>
<% end %>

<% if permitted_to? :admin, form.object %>
<%= form.inputs for: :university_accounts, name: 'University Accounts' do |account| %>
  <%= render partial: 'university_accounts/university_account_fields', locals: { f: account } %>
<% end %>

<div class='links'>
  <p>
    <%= link_to_add_association 'add university account', form, :university_accounts,
      partial: 'university_accounts/university_account_fields' %>
  </p>
</div>

<%= form.inputs for: :fund_tiers, name: 'Fund Tiers' do |tier| %>
  <%= render partial: 'fund_tiers/fund_tier_fields', locals: { f: tier } %>
<% end %>

<div class='links'>
  <p>
    <%= link_to_add_association 'add tier', form, :fund_tiers,
      partial: 'fund_tiers/fund_tier_fields' %>
  </p>
</div>
<% end %>

<%= form.actions %>

