<%=content_tag 'h2', "#{@organization} Dashboard" %>

<h3>Organization profile</h3>

<p>
<% if @organization.organization_profile %>
Your organization's financial profile was last updated on <%= @organization.organization_profile.updated_at.to_s :us_ordinal %>.
<% else %>
Your organization has not submitted a financial profile.
<% end %>
<% if permitted_to? :edit, @organization %>
You may <%=link_to 'edit your organization\'s profile here', edit_organization_path(@organization) %>.
<% end %>
</p>

<h3>Fund requests</h3>

<% if @organization.fund_requests.active.length > 0 %>
<p>
You have <%=pluralize @organization.fund_requests.active.length, 'active request' %> in process:
</p>

<%=render :partial => 'fund_requests/fund_requests',
  :object => @organization.fund_requests.active,
  :locals => { :organization => @organization } %>

<% else %>
<p>
You have no fund requests in process.
</p>
<% end %>

<% if @organization.fund_requests.inactive.any? %>
<p>
You may <%=
  link_to "view #{pluralize @organization.fund_requests.inactive.count, 'inactive fund request'}",
  inactive_organization_fund_requests_path( @organization )
%>.
</p>
<% end %>

<p>
You may <%=
  link_to( "request grants from " +
    pluralize( @organization.fund_sources.allowed_for(current_user).length,
      'fund source'),
    new_organization_fund_grant_path( @organization ) )
%>.
</p>

<h3>Fund grants</h3>

<% if @organization.fund_grants.current.any? %>
<p>
You have <%=pluralize @organization.fund_grants.current.length, 'current fund grant' %>:
</p>

<ul id="current_fund_grants">
<% @organization.fund_grants.current.each do |fund_grant| %>
<li><%= link_to fund_grant.fund_source.to_s, fund_grant %></li>
<% end %>
</ul>
<% else %>
<p>
You have no current fund grants.
</p>
<% end %>

<% if @organization.fund_grants.closed.any? %>
<p>
You may <%=
  link_to "view #{pluralize @organization.fund_grants.closed.count, 'closed fund grant'}",
  closed_organization_fund_grants_path( @organization )
%>.
</p>
<% else %>
<p>
You have no closed fund grants.
</p>
<% end %>

<h3>Available funds</h3>

<% if @organization.activity_accounts.current.any? %>
<%=render partial: 'activity_accounts/activity_accounts',
  object: @organization.activity_accounts.current,
  locals: { with_balances: true, organization: @organization } %>
<% else %>
<p>
You have no available funds.
</p>
<% end %>

