<h2>Listing organizations</h2>

<% form_for :search, :url => organizations_path, :html => { :method => :get } do |f| %>
  <p>
    <%= f.label :q, 'Search' %>
    <%= f.text_field :q %>
    <%= f.submit 'Go' %>
  </p>
<% end %>

<%= will_paginate @organizations %>

<%= render :partial => "organizations", :object => @organizations %>

<br />

<%= will_paginate @organizations %>

<p>
<%= link_to 'New organization', new_organization_path %>
</p>

