<h2>Listing organizations</h2>

<%= form_tag organizations_path, :method => :get do |f| %>
  <p>
    <%= label_tag 'search[name_contains]', 'Name' %>
    <%= text_field_tag 'search[name_contains]', @search['name_contains'] %>
    <%= submit_tag 'Search' %>
  </p>
<% end %>


<%= paginate @organizations %>

<%= render :partial => "organizations", :object => @organizations %>

<br />

<%= paginate @organizations %>

<p>
<% if permitted_to? :create, Organization.new -%>
<%= link_to 'New organization', new_organization_path %>
<% end -%>
</p>

