<h2>Listing organizations</h2>

<%= form_for :search, :url => organizations_path, :html => { :method => :get } do |f| %>
  <p>
    <%= f.label :name_contains, 'Name' %>
    <%= f.text_field :name_contains %>
    <%= f.submit 'Search' %>
  </p>
<% end %>

<%= paginate @organizations %>

<%= render :partial => "organizations", :object => @organizations %>

<br />

<%= paginate @organizations %>

<p>
<% if permitted_to? :create, Organization.new -%>
<%= link_to 'New organization', new_organization_path %>
<% end -%>
</p>

