<h2><%=h @organization %> Profile</h2>

<% unless @organization.unfulfilled_requirements.length == 0 %>
<p>The organization has unfulfilled requirements that <i>may</i> limit what it is able to do:</p>
<ul>
<% @organization.unfulfilled_requirements.each do |requirement| %>
<li>The organization <%= unfulfilled_requirement requirement, @organization %></li>
<% end %>
</ul>
<% end %>



<% unless @organization.requests.creatable.select { |r| r.may_create? current_user }.empty? %>
<h3>Bases for you to make requests</h3>

<p>Choose a new request you would like to create and get started on:</p>

<%= render :partial => 'requests/requests', :object => @organization.requests.creatable, :locals => {
  :organization => @organization, :status => true
} %>
<% end %>

<% unless @organization.requests.started.select { |r| r.may_see? current_user }.empty? %>
<h3>Requests you've started</h3>

<p>Choose a request below to examine and modify its items:</p>

<%= render :partial => 'requests/requests', :object => @organization.requests.started, :locals => {
  :organization => @organization, :status => true
} %>
<% end %>

<% unless @organization.requests.completed.select { |r| r.may_see? current_user }.empty? %>
<h3>Requests you've completed, but are still awaiting approvals</h3>

<p>If you need to make changes, each person who has approved the request must unapprove it.</p>

<%= render :partial => 'requests/requests', :object => @organization.requests.completed, :locals => {
  :organization => @organization, :status => true
} %>
<% end %>

<% unless @organization.requests.submitted.select { |r| r.may_see? current_user }.empty? %>
<h3>Requests you've completed and submitted</h3>

<p>You may view details of any of the following requests, although reviews have not yet been released:</p>

<%= render :partial => 'requests/requests', :object => @organization.requests.submitted, :locals => {
  :organization => @organization, :status => true
} %>
<% end %>

<% unless @organization.requests.released.select { |r| r.may_see? current_user }.empty? %>
<h3>Requests that have been released</h3>

<p>Results are available for the following requests:</p>

<%= render :partial => 'requests/requests', :object => @organization.requests.released, :locals => {
  :organization => @organization, :status => true
} %>
<% end %>

<p>
<%= link_to "Organization information", @organization %>
</p>

