<h1><%=h @organization %> Profile</h1>

<h2>Are you not finding what you were expecting?</h2>
<p>
You will only see requests you are allowed to create, modify, approve, or view on this page.
If you do not find what you were looking for, please verify:
</p>

<ul>
<% if @organization.registrations.current && (!@organization.registrations.current.registered) %>
<li>
Your organization has registered with the Student Activities Office <em>and</em> the registration
was approved by that office (status is "Approved", not "Pending").  You may view
your registration <a href="http://sao.cornell.edu/SO/search.php?igroup=<%= @organization.registrations.current.external_id %>" target="_blank">here</a>.
</li>
<% end %>
<li>
Your organization meets membership composition requirements for SAFC and this is reflected in your registration.
</li>
<li>
You have not approved all agreements awaiting your approval.  These should be displayed in
your user profile.
</li>
</ul>

<% unless @organization.requests.creatable.select { |r| r.may_see? current_user }.empty? %>
<h2>Bases for you to make requests</h2>

<p>Choose a new request you would like to create and get started on:</p>

<%= render :partial => 'requests/request', :collection => @organization.requests.creatable %>
<% end %>

<% unless @organization.requests.started.select { |r| r.may_see? current_user }.empty? %>
<h2>Requests you've started</h2>

<p>Choose a request below to examine and modify its items:</p>

<%= render :partial => 'requests/request', :collection => @organization.requests.started %>
<% end %>

<% unless @organization.requests.completed.select { |r| r.may_see? current_user }.empty? %>
<h2>Requests you've completed, but are still awaiting approvals</h2>

<p>If you need to make changes, each person who has approved the request must unapprove it.</p>

<%= render :partial => 'requests/request', :collection => @organization.requests.completed %>
<% end %>

<% unless @organization.requests.submitted.select { |r| r.may_see? current_user }.empty? %>
<h2>Requests you've completed and submitted</h2>

<p>You may view details of any of the following requests, although reviews have not yet been released:</p>

<%= render :partial => 'requests/request', :collection => @organization.requests.submitted %>
<% end %>

<% unless @organization.requests.released.select { |r| r.may_see? current_user }.empty? %>
<h2>Requests that have been released</h2>

<p>Results are available for the following requests:</p>

<%= render :partial => 'requests/request', :collection => @organization.requests.released %>
<% end %>

