<h2><%=h @organization %></h2>

<p>
  <b>First name:</b> <%=h @organization.first_name %>
</p>

<p>
  <b>Last name:</b> <%=h @organization.last_name %>
</p>

<p>
  <b><%= FundEdition::PERSPECTIVES.first.capitalize %> frameworks:</b>
  <p>
  The organization is authorized to request funds under the following permissions frameworks.
  </p>
  <ul>
  <% Framework.fulfilled_for_memberships( @organization.memberships.requestor ).each do |framework| %>
  <li><%=h framework %></li>
  <% end %>
  </ul>
</p>

<h3>Registration-supplied profile</h3>

<p>
The following information is determined from the organization's registration with
the <%=link_to 'Student Activities Office', 'http://sao.cornell.edu/SO/' %>.
</p>

<p>
  <b>Registered?</b> <%= @organization.registered? ? 'Yes' : 'No' %>
</p>

<% if @organization.current_registration %>
<p>
  <b>Percent Undergrad:</b> <%= @organization.current_registration.percent_members_of_type 'undergrads' %>%
</p>

<p>
  <b>Percent Grad:</b> <%= @organization.current_registration.percent_members_of_type 'grads' %>%
</p>
<% end %>

<h3>Organization-supplied profile</h3>

<% if @organization.organization_profile %>
<%= render :partial => 'organization_profiles/detail', :object => @organization.organization_profile %>
<% else %>
<p>
The organization has not supplied additional profile information.
</p>
<% end %>

<h3>Fund tiers</h3>
<p>
The organization manages the following fund tiers:
</p>
<%=render partial: 'fund_tiers/fund_tiers', object: @organization.fund_tiers %>

<p>
<% if permitted_to? :edit, @organization -%>
<%= link_to 'Edit', edit_organization_path(@organization) %> |
<% end -%>
<% if permitted_to? :manage, @organization %>
<%= link_to 'List university accounts', organization_university_accounts_path(@organization) %> |
<% end %>
<%= nested_index @organization, :fund_requests, [ :duplicate ] %> |
<%= link_to 'List registrations', organization_registrations_path(@organization) %> |
<%= link_to 'List fund_sources', organization_fund_sources_path(@organization) %> |
<%= link_to 'List fulfillments', organization_fulfillments_path(@organization) %> |
<%= nested_index @organization, :inventory_items, [ :active, :retired ] %> |
<%= link_to 'List activity accounts', organization_activity_accounts_path(@organization) %> |
<%= nested_index @organization, :memberships, [ :active ] %> |
<%= link_to 'Back', organizations_path %>
</p>

