<h2><%=h @organization %></h2>

<p>
  <b>First name:</b> <%=h @organization.first_name %>
</p>

<p>
  <b>Last name:</b> <%=h @organization.last_name %>
</p>

<p>
  <b>Club sport?</b> <%= @organization.club_sport? ? 'Yes' : 'No' %>
</p>

<p>
  <b><%= Edition::PERSPECTIVES.first.capitalize %> frameworks:</b>
  <% @organization.frameworks( Edition::PERSPECTIVES.first ).each do |framework| %>
  <li><%=h framework %></li>
  <% end %>
  </ul>
</p>

<p>
  <b>Registered?</b> <%= @organization.registered? ? 'Yes' : 'No' %>
</p>

<% if @organization.registrations.current %>
<p>
  <b>Percent Undergrad:</b> <%= @organization.registrations.current.percent_members_of_type 'undergrads' %>%
</p>

<p>
  <b>Percent Grad:</b> <%= @organization.registrations.current.percent_members_of_type 'grads' %>%
</p>
<% end %>

<p>
<% if permitted_to? :edit, @organization -%>
<%= link_to 'Edit', edit_organization_path(@organization) %> |
<% end -%>
<%= link_to 'List registrations', organization_registrations_path(@organization) %> |
<%= link_to 'List bases', organization_bases_path(@organization) %> |
<%= link_to 'List fulfillments', organization_fulfillments_path(@organization) %> |
<%= link_to 'Back', organizations_path %>
</p>

