<%= render "shared/error_messages", :target => form.object %>

<% if form.object.node %>
  <p><em>Instructions:</em></p>

  <p>Use this form to request funds related to the <%= form.object.node %>.</p>

  <% if form.object.node.children.length > 0 %>
  <p>After you save this item, there are certain items you may add as subitems:</p>
  <ul>
    <% form.object.node.children.each do |child| %>
    <li><%= child %></li>
    <% end %>
  </ul>
  <p>Do not include those expenses in this form.  Instead, after you save this form, add subitems to the item associated with this form.</p>
  <% end %>

  <% unless form.object.node.instruction.blank? %>
  <%=markdown form.object.node.instruction %>
  <% end %>
<% end %>

<%= form.inputs do %>
  <% if form.object.new_record? -%>
    <%= form.input :node_id, :as => :hidden %>
    <%= form.input :parent_id, :as => :hidden %>
  <% else -%>
    <% if permitted_to?( :allocate, form.object ) -%>
      <%= form.input :amount, :hint => 'What allocation amount should be provided for this item?' %>
    <% end -%>
  <% end -%>
<% end %>

<%= form.semantic_fields_for :fund_editions do |fund_edition_form| %>
  <% if (fund_edition_form.object.new_record? && permitted_to?( :create, fund_edition_form.object ) ) ||
        (fund_edition_form.object.persisted? && permitted_to?( :update, fund_edition_form.object ) ) -%>
    <%= render :partial => 'fund_editions/form', :object => fund_edition_form  %>
  <% elsif permitted_to?( :show, fund_edition_form.object ) -%>
    <%= render :partial => 'fund_editions/fund_edition', :object => fund_edition_form.object  %>
  <% else -%>
    <p>You may not see the <%= fund_edition_form.object.perspective %> edition.</p>
  <% end -%>
<% end %>

<%= form.buttons %>

