<%= render "shared/error_messages", :target => form.object %>

<%= form.inputs do %>
  <% if form.object.new_record? -%>
    <%= form.input :node_id, :as => :hidden %>
    <%= form.input :parent_id, :as => :hidden %>
  <% else -%>
    <% if permitted_to?( :allocate, form.object ) -%>
      <%= form.input :amount, :hint => 'What allocation amount should be provided for this item?' %>
    <% end -%>
  <% end -%>
<% end %>

<%= form.semantic_fields_for :fund_editions do |fund_edition_form| %>
  <% if (fund_edition_form.object.new_record? && permitted_to?( :create, fund_edition_form.object ) ) ||
        (fund_edition_form.object.persisted? && permitted_to?( :update, fund_edition_form.object ) ) -%>
    <%= render :partial => 'fund_editions/form', :object => fund_edition_form  %>
  <% elsif permitted_to?( :show, fund_edition_form.object ) -%>
    <%= render :partial => 'fund_editions/fund_edition', :object => fund_edition_form.object  %>
  <% else -%>
    <p>You may not see the <%= fund_edition_form.object.perspective %> edition.</p>
  <% end -%>
<% end %>

<%= form.buttons %>

