  <%= table_row_tag do %>
    <td><%= fund_item.title %><% if fund_item.title != fund_item.node.name %> (<%= fund_item.node.name %>)<% end %></td>
    <td><%= render :partial => 'fund_items/new_fund_item',
                   :object => fund_item.fund_grant.fund_items.build( :parent_id => fund_item.id ),
                   :locals => { :fund_request => fund_request } %></td>
    <td><%= link_to( 'Edit', edit_fund_request_fund_item_path( fund_request, fund_item )
                     ) if permitted_to?( :edit, fund_request ) %></td>
    <td><%= link_to( 'Destroy', fund_item, :confirm => 'Are you sure?', :method => :delete
                     ) if permitted_to?( :destroy, fund_item ) %></td>
  <% end %>

  <%= render :partial => 'fund_items/fund_item',
             :collection => fund_item.children.ordered,
             :locals => { :fund_request => fund_request }  %>

