<style type="text/css">
table td { padding: 4px; }
</style>

<h2>Listing fund_items for <%=h @fund_request %></h2>

<%= render :partial => "fund_items", :object => @fund_request.fund_items.roots, :locals => {
  :show_detail => false, :read_only => false, :fund_request => @fund_request
} %>

<%= render :partial => 'new_fund_item', :object => @fund_request.fund_grant.fund_items.build,
  :locals => { :fund_request => @fund_request } %>

</table>

<p>
<%= link_to "Back to #{@fund_request.fund_grant.organization}", @fund_request.fund_grant.organization %> |
<%= link_to "Back to #{@fund_request}", @fund_request %> |
<%= link_to "Back to #{@fund_request.fund_grant.fund_source}", @fund_request.fund_grant.fund_source %>
</p>

