<h2><%=h @fund_item %> of <%=h @fund_item.fund_request %></h2>

<% if @fund_item.parent -%>
  <p>
    <b>Parent:</b> <%=h @fund_item.parent %>
  </p>

<% end -%>

<%= render :partial => "fund_items/detail", :object => @fund_item %>

<p>
<%= link_to 'Edit', edit_fund_item_path(@fund_item) %> |
<%= link_to h("Back to #{@fund_item.fund_request}"), fund_request_fund_items_path(@fund_item.fund_request) %>
</p>

