<p>
  Number of copies: <%= administrative_expense.copies %>
</p>

<p>
  Number of buckets of chalk: <%= administrative_expense.chalk %>
</p>

<p>
  Amount for advertisements: <%= number_to_currency(administrative_expense.sun_ads) %>
</p>

<p>
  Amount for repairs and restocking: <%= number_to_currency(administrative_expense.repairs_restocking) %>
</p>

<p>
  Amount for mailbox at Willard Straight Hall: <%= number_to_currency(administrative_expense.mailbox_wsh) %>
</p>

<%= render :partial => "administrative_expenses/calculation", :object => administrative_expense %>

