<p>
  Number of copies: <%= detail.copies %>
</p>

<p>
  Number of buckets of chalk: <%= detail.chalk %>
</p>

<p>
  Amount for advertisements: <%= number_to_currency(detail.sun_ads) %>
</p>

<p>
  Amount for repairs and restocking: <%= number_to_currency(detail.repairs_restocking) %>
</p>

<p>
  Amount for mailbox at Willard Straight Hall: <%= number_to_currency(detail.mailbox_wsh) %>
</p>

