  <p>
    <%= form.label :copies, "Number of copies" %><br />
    <%= form.text_field :copies %>
  </p>

  <p>
    <%= form.label :repairs_restocking, "Repairs and Restocking" %><br />
    $<%= form.text_field :repairs_restocking %>
  </p>

  <p>
    Mailbox at Willard Straight Hall ($25 for renewal, $40 for new registration<br />
	<%= form.radio_button(:mailbox_wsh, 25) %> <%= form.label :mailbox_wsh_25, "$25" %><br />
	<%= form.radio_button(:mailbox_wsh, 40) %> <%= form.label :mailbox_wsh_40, "$40" %>
  </p>

  <p>
    <%= form.label :total_request, "Total request" %><br />
    $<%= form.text_field :total_request %>
  </p>

