<!--><p>
  <b>Copies:</b>
  <%=h @administrative_expense.copies %>
</p>

<p>
  <b>Copies expense:</b>
  <%=h @administrative_expense.copies_expense %>
</p>

<p>
  <b>Repairs restocking:</b>
  <%=h @administrative_expense.repairs_restocking %>
</p>

<p>
  <b>Mailbox at Willard Straight:</b>
  <%=h @administrative_expense.mailbox_wsh %>
</p>

<p>
  <b>Total request:</b>
  <%=h @administrative_expense.total_request %>
</p>-->

<p>
  <b>Maximum request:</b> $<%=h @administrative_expense.total %>
</p>

<%= link_to 'Edit', edit_administrative_expense_path(@administrative_expense) %> |
<%= link_to 'Back', administrative_expenses_path %>

