<p>
  <b>Description:</b>
  <%=h @durable_goods_addendum.description %>
</p>

<p>
  <b>Quantity:</b>
  <%=h @durable_goods_addendum.quantity %>
</p>

<p>
  <b>Unit price:</b>
  <%=h @durable_goods_addendum.unit_price %>
</p>

<p>
  <b>Total:</b>
  <%=h @durable_goods_addendum.total %>
</p>


<%= link_to 'Edit', edit_durable_goods_addendum_path(@durable_goods_addendum) %> |
<%= link_to 'Back', durable_goods_addendums_path %>