<h2>Editing basis for <%=h @basis.organization %></h2>

<%= semantic_form_for(@basis) do |f| %>
  <%= render :partial => 'form', :object => f %>
<% end %>

<p>
<%= link_to 'Show', @basis %> |
<%= link_to 'Back', organization_bases_path( @basis.organization ) %>
</p>

