<h2>Listing bases for <%=h @organization %></h2>

<%= will_paginate @bases %>

<%= render :partial => "bases", :object => @bases %>

<%= will_paginate @bases %>

<br />

<p>
<%= link_to( 'New basis', new_organization_basis_path( @organization ) ) if permitted_to?( :create, @organization.bases.build ) %>
</p>

