<h1>Showing basis</h1>

<p>
  <b>Name:</b>
  <%=h @basis.name %>
</p>

<p>
  <b>Framework:</b>
  <%=h @basis.framework %>
</p>

<p>
  <b>Structure:</b>
  <%=h @basis.structure %>
</p>

<p>
  <b>Organization:</b>
  <%=h @basis.organization %>
</p>

<p>
  <b>Open at:</b>
  <%=h @basis.open_at %>
</p>

<p>
  <b>Closed at:</b>
  <%=h @basis.closed_at %>
</p>

<p>
<%= link_to 'Edit', edit_basis_path(@basis) %> |
<%= link_to 'Back', organization_bases_path( @basis.organization ) %>
</p>

