<h1>Showing basis for <%=h @basis.structure %> structure</h1>

<p>
  <b>Open at:</b>
  <%=h @basis.open_at %>
</p>

<p>
  <b>Closed at:</b>
  <%=h @basis.closed_at %>
</p>


<%= link_to 'Edit', edit_basis_path(@basis) %> |
<%= link_to 'Back', structure_bases_path( @basis.structure ) %>

