<p>
    <%= form.label :form_id, "Form ID" %><br />
    <%= form.text_field :form_id %>
  </p>
  <p>
    <%= form.label :form_type, " Form Type" %><br />
    <%= form.text_field :form_type %>
  </p>

  <p>
    <%= form.label :request_amount,"Requested Amount" %><br />
    <%= form.text_field :request_amount %>
  </p>

  <p>
    <%= form.label :requestor_comment,"Requestor Comment" %><br />
    <%= form.text_field :requestor_comment %>
  </p>

<p>
    <%= form.label :allocation_amount,"Allocation Amount" %><br />
    <%= form.text_field :allocation_amount %>
  </p>

<p>
    <%= form.label :allocator_comment,"Allocator Comment" %><br />
    <%= form.text_field :allocator_comment%>
  </p>


 <p>
    <%= form.label :sft,"sft" %><br />
    <%= form.text_field :sft %>
  </p>

<p>
    <%= form.label :rgt,"rgt" %><br />
    <%= form.text_field :rgt %>
  </p>

<p>
    <%= form.label :request_node_id,"Request Note ID" %><br />
    <%= form.text_field :request_node_id %>
  </p>

