<h1>Editing request_item</h1>

<% form_for(@request_item) do |f| %>
  <%= f.error_messages %>

   <%= render :partial => 'form',
              :object => f %>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @request_item %> |
<%= link_to 'Back', request_request_items_path(@request_item.request_id) %>

