<h1>Editing approver for <%= @approver.framework %></h1>

<% form_for(@approver) do |f| %>
  <%= f.error_messages %>

  <%= render :partial => 'form', :object => f %>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<p>
<%= link_to 'Show', @approver %> |
<%= link_to 'Back', framework_approvers_path( @approver.framework ) %>
</p>

