<p>
  <b>Framework:</b> <%=h @approver.framework %>
</p>

<p>
  <b>Perspective:</b> <%=h @approver.perspective %>
</p>

<p>
  <b>Role:</b> <%=h @approver.role %>
</p>

<p>
<% if permitted_to? :edit, @approver -%>
<%= link_to 'Edit', edit_approver_path(@approver) %> |
<% end -%>
<%= link_to 'Back', framework_approvers_path( @approver.framework ) %>
</p>

